@charset "utf-8";
/*common*/
body { background-color: #f0f3f7; font: normal 14px/1.5 Arial, "Lucida Grande", Verdana, "Microsoft YaHei", hei; }
.body { background:#f0f3f7; color:#464c6c; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); -webkit-text-size-adjust: none; -moz-user-select: none; }
.body-search { background-color:#ffffff; top:0; width:100%; z-index:9999; }
.vbk_viewlogbody { height:100%; }
.body-footer { padding-bottom:60px; }
.basefix:after { clear:both; content:'.'; display:block; height:0; overflow:hidden; }
.float_left { float:left !important; }
.float_right { float:right !important; }
.invisible { visibility:hidden !important; }
.hidden { display:none; }
.border_none { border:0 none !important; }
.input_error { background-color: #FFF7D9 !important; border-color: #D80000 #E50000 #E50000 #D80000 !important; border-style: solid; }
.input_default { color:#808080 !important; }
.inputSel { color:#808080 !important; }
.vbk_ellipsis { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; }
/*public*/
.vbk_ctrip_info:before, .vbk_client_error:after, .vbk_client_error:before, .vbk_client_pass:after{ background-image: url(http://pic.c-ctrip.com/h5/vbk/icon.png); background-repeat: no-repeat; background-size: 250px auto; }
.vbk_head .i_bef { color:#ffffff; font-size:16px; }
.vbk_head header { background-color:#33374a; }

/*查询页面*/
.vbk_search_footer { position: fixed; width: 100%; left: 0; bottom: 0; z-index: 99; background-color:#dfe3e8; padding:10px 15px; }
.vbk_search_footer input { height: 31px; padding: 0 2px; width:70%; background-color:#ffffff; border-radius:6px; }
.vbk_search_footer .vbk_send { background-color:#00cd6a; color:#ffffff; font-size:14px; display:inline-block; padding:5px 15px; border-radius:6px; margin-left:10px; }
.vbk_search_box { padding:20px 24px 50px 15px; font-size:14px; color:#464c6c; }
.vbk_search_box .vbk_send_title { margin-bottom:30px; text-align:center; }
.vbk_ctrip { font-size:12px; color:#a3a6b6; text-align:left; }
.vbk_ctrip_info { margin:7px 26px 15px 0; background-color:#f0f3f7; border-radius:16px; padding:15px; position:relative; display:inline-block; }
.vbk_ctrip_info a{ color:#3d9ce0;}
.vbk_ctrip_info:before { position:absolute; content:''; background-position:-107px 0; width:11px; height:13px; left:-10px; bottom:10px; }
.vbk_client_error { display:inline-block; background-color:#ff9999; color:#ffffff; padding:15px; position:relative; border-radius:16px; margin:7px 0px 15px 0; }
.vbk_client_error:after { position:absolute; content:''; background-position:-142px 0; width:19px; height:18px; left:-25px; bottom:35%; }
.vbk_client_error:before { position:absolute; content:''; background-position:-126px 0; width:11px; height:13px; right:-10px; bottom:10px; }
.vbk_client_box { font-size:12px; color:#a3a6b6; text-align:right; }
.vbk_client_pass { display:inline-block; background-color:#00cd6a; color:#ffffff; padding:15px; position:relative; border-radius:16px; margin:7px 0px 15px 0; }
.vbk_client_pass:after { background-position:-238px -107px; position:absolute; content:''; width:11px; height:13px; right:-10px; bottom:10px; }
.bg_box { height:100%; background-color:#ffffff; position:fixed; width:100%; z-index:-1; }
.vbk_client_wait { display:inline-block; background-color:#ffb426; color:#ffffff; padding:15px; position:relative; border-radius:16px; margin:7px 0px 15px 0; }
.vbk_client_wait:before { position:absolute; content:''; background-position:-238px -133px; width:11px; height:13px; right:-10px; bottom:10px; }

.input_boxs{ text-align:center;}
.ask_box{margin: 0px 26px 15px 0;
background-color: #f0f3f7; padding:15px;position: relative;
display: inline-block;}
.ask_box a{ color:#3d9ce0;}
.yellow_bg{ background-color:#eff79c;}
.red{ color:#ff1200;}
.btn_box{margin: 0px 26px 15px 0;
padding: 15px 15px 15px 0;
position: relative;
display: inline-block;}
.btn_box span{background-color: #00cd6a;
color: #ffffff;
font-size: 14px;
display: inline-block;
padding: 5px 15px;
border-radius: 6px;
margin-left: 10px; cursor:pointer;}
.btn_box span:nth-of-type(1){ margin-left:0px;}
.choose_box{ margin-top:10px;}
.choose_box:after{clear:both; content:'.'; display:block; height:0; overflow:hidden;}
.choose_box label{ margin-right:10px; float:left;}
.choose_box label input[type=radio]{ vertical-align:middle; margin-right:5px; appearance:radio;-moz-appearance:radio; -webkit-appearance:radio; height:inherit; width:inherit; }
@media screen and (min-width:1024px) {
.vbk_search_footer input{ width:90%;}
}






