

.cover{
  background:#626469;
  width:100%;
  height:30px;
}
.phone{
  font-size:12px;
   color:#fff;
   width:1002px;
   text-align:right;
   line-height:30px;
   margin:auto;

}
.middle{
  height:100px;
  width:100%;
  background-image:url(image/bg1.png);
  background-position:0 bottom;
  background-repeat:repeat-x;
}
.w1002{
  width:1002px;
  margin:auto;

}
.middle h2{
  margin-top:28px;
  float:left;
}
.middle ul{
  margin-top:36px;
  float:right;
  margin-right:-24px;
}
.middle li{
  font-size:13px;
  border-right:1px solid #c0bebe;
  list-style:none;
  padding-left:24px;
  padding-right:24px;
  line-height:12px;
  text-align:center;
  float:left;
}
.middle li a{
  font-size:13px;
  text-decoration:none;
  color:#282828;

}
.middle li.nobord{
  border:none ;
}

.middle li a:hover{
  color:#f3704c;
}
.middle li a.current{
  color:#f3704c;
}