@charset "utf-8";
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, em, button { margin:0; padding:0; }
html { background-color:#FFF; }
body { background-color:#FFF; font-size:12px; line-height:1.5; font-family:Tahoma,Simsun,sans-serif; color:#333; }
img, fieldset { margin:0; padding:0; border:0; }
input, textarea { font-size:12px; }
table { border-collapse:collapse; }
a { color:#0082C6; text-decoration:none; outline:none; }
a:hover { text-decoration:underline; }
h1, h2, h3, h4, h5 { font-family:Arial,Simsun,sans-serif; }
ul li, ol li { list-style:none; }
dfn { font-style:normal; font-size:12px; font-family:Arial !important; }
select { padding:1px; font-family:Arial,Simsun,sans-serif; border:1px solid #CCC; background-color:#FFF; }
input[type="text"] { padding:3px; border:solid 1px #CCC; box-shadow: 1px 1px 3px #DDDDDD inset; }
input[type="text"]:focus{ background-color:#f1f9ff; border-color:#5d9de5 #67a1e2 #67a1e2 #5d9de5; border-style:solid; border-width:1px;box-shadow: 1px 1px 3px #d0dee6 inset;}
.basefix,.layoutfix { *zoom:1; }
.basefix:after,.layoutfix:after { clear:both; content:'.'; display:block; height:0; overflow:hidden; }
.float_left { float:left !important; }
.float_right { float:right !important; }
.invisible { visibility:hidden !important; }
.hidden { display:none !important; }
.border_none { border:0 none !important; }
.base_price { font-style:normal; font-family: arial; text-decoration:none; }
.base_price dfn { font-family: Arial, Simsun; font-size: 12px; }
.base_price strong {font-family:Verdana;}
.input_error {background-color: #FFF7D9 !important;border-color: #D80000 #E50000 #E50000 #D80000 !important;border-style: solid;}
.input_default { color:#808080 !important; }
.inputSel{ color:#808080;}
/* labels&it's input */
.base_label { _padding-bottom: 1px; *display: inline-block; border-bottom:1px solid transparent; _border-bottom:none; _font-family:Simsun; cursor: pointer; }
.base_label:hover { border-bottom: 1px dashed #aaa; }
.base_label input { margin: -4px 3px 0 0; *margin-top: -2px; width: 12px; height: 12px; overflow:hidden; border: none; font-family:Arial; vertical-align: middle; }
/* alert */
.c_alert { padding-left:7px; background: url(http://picint.sh.ctriptravel.com/common/bg_alertinfo.gif) no-repeat 0 -8px; overflow:hidden; }
.c_alertinfo { padding:4px 5px 4px 8px; border:1px solid #ffb533; border-left:0; color:#333;font-size:12px;line-height:20px;background-color:#fff5d1; }

/**bottom_advantage**/
.bottom_advantage_wrap{background-color:#3D95C9;height:80px;padding:30px 0;min-width:1000px;}
.bottom_advantage{width:980px;margin:0 auto;overflow:hidden;}
.bottom_advantage dl{padding-left:80px;float:left;height:80px;border-right:1px dotted #77B5D9;float:left;overflow:hidden;position:relative;}
.bottom_advantage dt{color:#fff;font:16px microsoft yahei;width:100%;float:left;padding-bottom:3px;}
.bottom_advantage dt i{position:absolute;background-color:#3D95C9;}
.bottom_advantage dd{float:left;width:115px;}
.bottom_advantage dd a{color:#fff;}
.bottom_advantage .special_instruct{width:100%;padding-top:2px;color:#9ac7e2;}
.bottom_advantage .security{width:366px;}
.bottom_advantage .security dt i,.bottom_advantage .help dt i,.bottom_advantage .guide dt i{ background:url(http://picint.sh.ctriptravel.com/vacation_v1/un_channel.png) no-repeat;}
.bottom_advantage .security dt i{width:39px;height:42px;background-position:0 -261px;left:25px;}
.bottom_advantage .help{width:230px;}
.bottom_advantage .help dt i{width:47px;height:42px;background-position:-40px -261px;left:19px;top:4px;}
.bottom_advantage .guide{width:142px;border:0 none;}
.bottom_advantage .guide dt i{width:44px;height:39px;background-position:-88px -261px;left:22px;top:4px;}
/* small page */
/*=== 进度条 S ===*/
.tri{position:relative;height:22px;padding-left:11px;margin-left:-11px;background:url(http://picint.sh.ctriptravel.com/vacation_v1/bg_process_step02.png) no-repeat left -88px;}
.con{height:22px;padding-right:11px;line-height:22px;text-align:center;color:#b9b9b9;background:url(http://picint.sh.ctriptravel.com/vacation_v1/bg_process_step02.png) repeat-x 0 -44px;}
.step1, .step2, .step3, .step4, .step5, .step6, .step7{width:978px;margin:10px auto;border:1px solid #ccc;}
.step_table{table-layout:fixed; width:100%; }
.step1 .first .con, .step2 .second .con, .step3 .third .con, .step4 .fourth .con, .step5 .fif th .con, .step6 .sixth .con, .step7 .seventh .con{background-position:0 0;font-weight:bold;color:#fff;}
.step1 .first .tri, .step2 .second .tri, .step3 .third .tri, .step4 .fourth .tri, .step5 .fifth .tri, .step6 .sixth .tri, .step7 .seventh .tri{background-position:left -66px;}
.step2 .first .con, .step3 .first .con, .step3 .second .con, .step4 .first .con, .step4 .second .con, .step4 .third .con, .step5 .first .con, .step5 .second .con, .step5 .third .con, .step5 .fourth .con, .step6 .first .con, .step6 .second .con, .step6 .third .con, .step6 .fourth .con, .step6 .fifth .con, .step7 .first .con, .step7 .second .con, .step7 .third .con, .step7 .fourth .con, .step7 .fifth .con, .step7 .sixth .con{background-position:left -22px;color:#333;}
.step2 .first .tri, .step3 .first .tri, .step3 .second .tri, .step4 .first .tri, .step4 .second .tri, .step4 .third .tri, .step5 .first .tri, .step5 .second .tri, .step5 .third .tri, .step5 .fourth .tri, .step6 .first .tri, .step6 .second .tri, .step6 .third .tri, .step6 .fourth .tri, .step6 .fifth .tri, .step7 .first .tri, .step7 .second .tri, .step7 .third .tri, .step7 .fourth .tri, .step7 .fifth .tri, .step7 .sixth .tri{background-position:left -110px;}
/*=== 进度条 e ===*/
/*****小分页 开始*****/
.search_sort .float_right { margin:12px 10px 0 0; color:#808080; _display:inline; }
.btn_hotels_search { width:50px; height:22px; background:url(http://picint.sh.ctriptravel.com/packages111012/un_detail_btn.png?120206.png) no-repeat -160px -44px; border:none; cursor:pointer; }
.c_page2_pre, .c_page2_next, .c_page2_pre_dis, .c_page2_next_dis { height:18px; float:left;  background:url(http://picint.sh.ctriptravel.com/common/icon_pagearrow.png) no-repeat; background-color:#fff; color:#808080; }
.c_page2_pre, .c_page2_pre_dis { width:18px; background-position:-14px 5px; text-indent:-999em; overflow:hidden; }
.c_page2_next, .c_page2_next_dis { padding-left:3px; background-position:50px 5px; width:57px; text-align:left; }
.c_page2_pre, .c_page2_next{ border:1px solid #ccc;}
.c_page2_pre:hover, .c_page2_next:hover { color:#666; text-decoration:none; border:1px solid #808080;}
.c_page2_pre:hover { background-position:-14px -22px; }
.c_page2_next:hover { background-position:50px -22px; }
.c_page2_pre, .c_page2_pre_dis, .c_page2_pre:hover{ margin-right:1px;}
.c_page2_pre_dis, .c_page2_next_dis { color:#e6e6e6; cursor:default; border:1px solid #f1f1f1;}
.c_page2_pre_dis:hover, .c_page2_next_dis:hover { text-decoration:none; color:#e6e6e6;border:1px solid #f1f1f1; }
.c_page2_pre_dis { background-position:-14px -49px; }
.c_page2_next_dis { background-position:50px -49px; }
.c_page2_numtop { float:left; margin:2px 5px 0 0; }
/*****小分页 结束******/
/* big page=s*/
.sr_page { padding:0 10px; }
/* page */
.c_page { height:26px; padding:10px 0; color:#666; font: 12px/2 Arial; *float:right; }
.c_page_list, .c_up, .c_down, .c_pagevalue, .c_up_nocurrent, .c_down_nocurrent {  display:inline-block; vertical-align:middle; *float:left; }
.c_up, .c_down, .c_page_list a, .c_up_nocurrent, .c_down_nocurrent, .c_page_submit, .c_page_submit:hover, .c_page_list .current, .c_page_list .current:hover { background-image:url(http://picint.sh.ctriptravel.com/common/un_page.png); }
.c_up, .c_down, .c_up_nocurrent, .c_down_nocurrent { width:25px; height:0; overflow:hidden; padding:23px 0 0; border:0; background-position:0 -50px; }
.c_up { margin-right:10px; border: solid 1px #999; background-position: -105px 0; }
.c_up:hover { background-position:-105px -25px; text-decoration:none; }
.c_down { width:70px; margin-left:1px; border: solid 1px #999; background-position:-41px 0; }
.c_down:hover { background-position:-41px -25px; }
.c_page_list { margin-right:10px; }
.c_page_list a, .c_page_list .c_page_ellipsis { float:left; }
.c_page_list a, .c_page_submit { height:23px; margin:0 1px; padding:0 8px; border:solid 1px #999; background-position:0 0; font-weight:bold; color:#666; text-decoration:none; overflow:hidden; }
.c_page_list a:hover, .c_page_submit:hover { background-position:0 -25px; text-decoration:none; }
.c_page_list .c_page_ellipsis { margin:0 3px; }
.c_page_list .current, .c_page_list .current:hover { background-position:0 -74px; cursor:default; border-color:#67aee0; }
.c_up_nocurrent, .c_up_nocurrent:hover { margin-right:10px; border: solid 1px #ccc; background-position: -106px -50px; color:#666; cursor:default; }
.c_down_nocurrent, .c_down_nocurrent:hover { width:70px; border: solid 1px #ccc; background-position: -41px -50px; cursor:default; }
.c_pagevalue { margin-left:20px; }
.c_pagevalue .c_page_num { width:25px; height:14px; padding:3px; border:1px solid #ccc; margin:0 4px; }
.c_page_submit { width: 40px; margin-left:10px; font-weight:normal; cursor: pointer; line-height:22px; *padding:0 8px 0 6px;
}
/* page end =e */ 
/********************************New Index**********************************/
.vacation_nav,.hot_destination h2.current,.hot_destination h2.current i,.destination_detail dt .arrow,.right_unfold .close,.month_destination h4 .more,.visa_btn input,.search_box .search_btn,.search_box .advance_search,.search_box .input_notice,.destination_detail h3 .more,.start_city h2,.advance_box .search,.advance_box .close,.destination_box .eurail_detail .eurail_search,.start_city h2 i,.destination_select h2,.destination_select h2 i,.search_box_wrap,.to_top,.destination_detail .local_detail dt,.destination_detail .cruise_detail dt,.destination_detail h4,.more i {background-image:url(http://picint.sh.ctriptravel.com/vacation_v1/un_channel.png);background-repeat:no-repeat;}
/**crumbs**/
.crumbs {color: #999999;font-family: verdana,simsun;}
/**to_top**/
.to_top {position:fixed;height:0;width:30px;right:0;bottom:5%;overflow:hidden;padding-top:30px;background-position:-252px -115px;z-index:50;overflow:hidden;_position:absolute;}
.to_top:hover {background-position:-222px -115px;}
/**SEO**/
.bottom_linkbox dt .web_map{float:right;font-weight:normal;margin:0;}
.bottom_linkbox dt .web_map:hover{border:0 none;color:#0082C6;text-decoration:underline;}
.bottom_linkbox dt { margin:0 10px; border-bottom:1px solid #E7E7E7;}
.bottom_linkbox dt a { margin-right:20px; line-height:30px; cursor:pointer; display:block; color:#999; font-weight:bold; height:30px; float:left; position:relative; margin-bottom:-1px;}
.bottom_linkbox dt .current { border-bottom:1px solid #0082C6; }
.bottom_linkbox dt a:hover { border-bottom:1px solid #0082C6; text-decoration:none; }
.bottom_linkbox dd { padding:5px 10px; line-height:18px;}
.bottom_linkbox dd a { color:#999; margin-right:8px; display:inline-block;}
.bottom_linkbox dd a:hover { color:#0082C6; }
.bottom_linkbox .hidden { display:none; }
.bottom_linkbox .bold{ font-weight:bold;color:#999;margin-right:15px;}
.seo_box{margin:10px auto;width:980px;border:1px solid #EAEAEA;}
.seo_box p a {color:#999;}
.seo_box p a:hover {color:#0082c6;}
/**SEO-20130606**/
.bottom_linkModule dt .web_map{float:right;font-weight:normal;margin:0;}
.bottom_linkModule dt .web_map:hover{border:0 none;color:#0082C6;text-decoration:underline;}
.bottom_linkModule dt { margin:0 20px; line-height:24px; border-bottom:1px solid #E7E7E7;}
.bottom_linkModule dt span {font-weight:bold;color:#999;}
.bottom_linkModule dt a {color:#999;}
.bottom_linkModule dd { padding:5px 20px; line-height:18px;}
.bottom_linkModule dd a {color:#999; margin-right:8px; display:inline-block;}
.bottom_linkModule dd a:hover { color:#0082C6; }
.bottom_linkModule .hidden { display:none; }
.bottom_linkModule .bold{ font-weight:bold;color:#999;margin-right:15px;}
.seo_box{margin:10px auto;width:980px;border:1px solid #EAEAEA;padding:15px 0px 10px;}
.seo_box p {color:#999;padding:0 20px 5px;}
/**AD**/
.ad_bottom { width:980px; margin:0 auto 20px; font-size:0; height:86px; overflow:hidden; white-space:nowrap;}
.ad_bottom a {display:inline-block; width:311px; height:86px; margin-right:23px; overflow:hidden; }
.ad_bottom a img {width:311px;height:86px;}
/**base_alert pop**/
.base_alert {position: absolute;z-index: 999;}
.base_alert .alert_info {background-color:#FFF5D1;border:1px solid #FFB533;padding:3px;white-space:nowrap;}
.base_alert b,.base_alert i{position:absolute;height:0;width:0;line-height:0;font-size:0;border-left:0 none;top:8px;}
.base_alert b{border-right:5px solid #FFB533;border-top:5px dashed transparent;border-bottom:5px dashed transparent;left:-5px;}
.base_alert i{border-right:5px solid #FFF5D1;border-top:5px dashed transparent;border-bottom:5px dashed transparent;left:-4px;}