/*conmon=s*/
.cui_hd{ width: 1180px;padding:0;}
.cui_nav{width: 1180px;}
.main { width: 1180px;padding:0 0 20px;margin: 0 auto;}
.bg_gray {background-color: #f5f8fa;}
.book_info .car_include li, .notice_box i, .input_info .person_select i, .input_info .ticket_search, .input_info .save_wrap .save i, .input_info .save_wrap .selected i, .copies_add, .copies_cut, .copies_add_disable, .copies_cut_disable, .input_box .delivery b, .help_block .ico,.phone_service .phone_num i{ background: url(http://pic.c-ctrip.com/vacation_v1/bg_book.png?20140625.png) no-repeat;}

.notice_box {background-color: #E8F4FF; border: 1px solid #67A1E2; height: 48px; line-height: 48px; margin-bottom: 10px; padding-left: 52px; position:relative;}
.notice_box i {display:block; width:19px; height:19px; background-position: 0 -45px;position:absolute; top:15px; left:25px;}
.query { background: #fff; border: 1px solid #D5D5D5; color: #333; font:20px "Microsoft Yahei",simsun; margin-bottom: 20px; padding: 20px; position: relative;text-align: center;}
.query img {margin-right: 20px;}
.input_info .input_box input,.input_info .ticket_search{ _height: 14px; _padding: 2px;}
.list_more{padding-left:5px;}
.icon_down b{display:inline-block;width:0;height:0;overflow:hidden;line-height:0;font-size:0;vertical-align:middle;border-top:4px solid #0065bb;border-bottom:0 none;border-left:4px solid transparent;border-right:4px solid transparent;margin-left:3px;color:#fff;}
.icon_up b{display:inline-block;width:0;height:0;overflow:hidden;line-height:0;font-size:0;vertical-align:middle;border-bottom:4px solid #0065bb;border-top:0 none;border-left:4px solid transparent;border-right:4px solid transparent;margin-left:3px;color:#fff;}
input[type="number"],input[type="tel"]{padding:3px; border:solid 1px #CCC; box-shadow: 1px 1px 3px #DDDDDD inset;}
/*conmon=e*/
/********price=s*********/
.book_main_box { float: left;width: 940px; }
.price_bar { float: right; width: 220px; }
.price_bar .price_box { border: 3px solid #FFE7AE;background-color: #FFF9EA;padding: 10px;margin-bottom: 10px; }
.price_bar .price_box li { border-bottom: 1px dashed #E5DAC0;overflow: hidden; zoom:1; line-height: 24px; padding: 8px 0; }
.price_bar .price_box .total_price2 { background: none;padding: 0; }
.price_bar .total_price2 strong { float: left;line-height: 42px;height: 42px;overflow: hidden; }
.price_bar .price2 { float: right;font-size: 28px;color: #FF6600; height: 42px;*line-height: 36px; }
.price_bar .price2 dfn { vertical-align: 10px;padding-right: 2px; }
.price_bar .price_item { float: left; }
.price_bar .price_item i { font-style: normal;background-color: #FF6000;display: inline-block;height: 16px;line-height: 15px;padding: 0 2px;vertical-align: middle;color: #fff;margin-left: 5px;_display: inline; }
.price_bar .price_detail { float: right; }
.price_bar .price_detail span { font-weight: normal; }
.price_bar .price_detail dfn { font-weight: normal;padding:0 2px 0 4px; }
.price_bar .highlight { color: #FF6600; }
.price_bar .online_service { display: block;height: 0;padding-top: 40px;overflow: hidden;background: url(http://pic.c-ctrip.com/vacation_v1/bg_book.png?20140625.png) 0 0 no-repeat; }
.price_bar .price_box_wrap { width: 220px; }
.price_btn_order{ display:block; width: 190px; height:32px; line-height: 32px;  border: solid 1px #d3d3d3; background-color: #fff; border-radius: 2px; text-align: center; font-size: 14px;  box-shadow: 0 1px #bbb ;}
.price_btn_order:hover{text-decoration: none; border-color: #569fdd; background-color: #f8fcff; box-shadow: 0 1px #3283c7;}
.price_btn_order span{ float: left; width:34px;height:27px; padding:5px 0 0 12px;  border-right: solid 1px #cdcdcd; vertical-align: middle; text-align: left; }
.price_btn_order i{display: inline-block; width: 24px; height: 20px; background: url(http://pic.c-ctrip.com/vacation_v1/bg_book.png?20140625.png) -114px -46px no-repeat;}

.phone_service{margin-bottom:10px;border:1px solid #ccc;border-top-width:2px;color:#999;padding:10px 0;text-align:center;font-size:14px;}
.phone_service .phone_num{margin-top:5px;color:#6bc2fa;font-size:20px;}
.phone_service .phone_num i{display:inline-block;width:22px;height:21px;background-position:0 -90px;vertical-align:middle;margin-right:5px;}
.phone_service .phone_num span{display:inline-block;vertical-align:middle;}

/********price=e*********/
/********订单信息填写=s*********/
.input_info {background-color: #fff; border: 1px solid #D5D5D5; margin-bottom: 20px; overflow:hidden; *zoom:1;}
.input_info h3 {background-color: #f1f1f1; font: 18px/32px "Microsoft Yahei",simsun; height: 32px; padding: 0 20px;}
.input_info .ticket_search {background-position: 129px -64px; margin-left: 30px; vertical-align: 3px; width: 140px; background-color:#fff;color:#999; border:1px solid #ccc;}
.input_info .person_select {max-height: 60px; _height: 60px; margin: 20px; overflow-y: scroll;}
.input_info .person_select li {float: left; margin-right: 5px; width: 170px;}
.input_info .person_select a {color: #333333; display: block; height: 18px; line-height: 18px; overflow: hidden; padding: 6px 10px;}
.input_info .person_select a:hover,.input_info .person_select a:active {background-color:#e6f4ff; text-decoration:none;}
.input_info .person_select a:visited{background:none;}
.input_info .person_select i { background-position: -55px -46px; float: left; height: 16px; margin-right: 10px; margin-top: 1px; width: 16px;}
.input_info .person_select .selected i {background-position: -37px -46px;}
.input_info .product_input {*zoom:1; margin: 0 20px -1px 20px; padding: 20px 0 10px;position: relative; border-bottom:#D5D5D5 solid 1px;}
.input_info .product_input_border {border-top: 1px solid #eaeaea;}
.input_info .product_input h4 {float: left; font: 16px/20px "Microsoft Yahei",simsun; width: 120px;}
.input_info .product_input h4 span{display: inline-block; border-radius: 2px; font: 12px/14px simsun; padding: 2px; color: #fff; }
.input_info .product_input h4 .adult { background-color: #60B7FF;}
.input_info .product_input h4 .child { background-color: #FFB947;}
.warm_Tip {padding:0 20px; line-height:30px; background: #e8f4ff; margin-bottom: 20px; color:#666;}
.input_info .product_input .contact_info {position: relative;}
.input_info .input_box {float: left; width: 770px; }
.input_info .input_box li {padding-bottom: 15px; *zoom:1;}
.input_info .input_box li:after {clear: both; content: "."; display: block; height: 0; overflow: hidden;}
.input_info .input_box li .lj_sale_notice {padding:5px 0 0 19px;color:#999;}
.input_info .product_label {float: left;padding-right: 10px; text-align: right; width: 76px;}
.input_info .sale label {text-align:left; width: 60px; cursor:pointer;float: none; width:auto; cursor:pointer;}
.input_info .sale .blue{ }
.input_info .sale .price{ margin-left: 5px; color: #FF7A17; font-weight: bold;}
.input_info .sale .price dfn{ margin-left: 3px; }
.input_info .input_box .address_list label {width:100%; padding:0; text-align: left;}
.input_info .input_box li.default span {margin-right:40px;}
.input_info .input_box li.default span.tit {margin-right:10px;}
.input_info .input_box li.default .revise {margin-right:15px;}
.input_info .input_box .base_warning { color: #f00;float: left; line-height: 36px;padding-right: 10px; width:7px;}
.input_info .input_box .input_m {width: 270px;}
.input_info .input_box input.in_num01 {width: 50px; margin-right:5px;}
.input_info .input_box input.in_num02 {width: 126px; margin-right:5px;}
.input_info .input_box input.in_num03 {width: 60px;}
.input_info .input_box input.btn_submit {height:23px; line-height: 20px; background-color: #f8f9f8; color:#333; border:1px solid #bbb; text-align: center; display: inline-block; width:60px; border-radius:3px; cursor:pointer; margin:0 5px;}
.input_info .input_box input.btn_submit:hover {color:#0964bb;}
.input_info .input_box input{display:inline-block;vertical-align:middle;}
.input_info .input_box select {width:100px;vertical-align:middle;display:inline-block;}
.input_info .input_box input.input_s {margin-left:5px; width:160px;}
.input_info .input_box input.input_sale {margin-left:5px; width:130px;}
.input_info .input_box input.radio {width:15px; vertical-align:middle; margin-right:3px; }
.input_info .input_box .hrs{color: #999; margin-left:8px; }
.input_info .input_box a.explain {padding-left: 10px; text-decoration: underline;}
.input_info .input_box .point {color:#999; font-size:12px;}
.rebates {background-color: #fff; border: 1px solid #fba62c; color: #ff9614; cursor: pointer; display: inline-block; height: 14px; line-height: 14px; padding-right: 3px;font-family: Arial; margin-left:5px;}
.rebates em {background-color: #fba62c; color: #fff; float:left; padding: 0px 2px; font-style:normal;margin-right:2px;}
.input_info  .price_none{ color: #F60; margin-left:5px; font-weight: bold; }
.input_info  .price_none dfn{ margin-left:5px; }

.input_info .delivery table select {width:79px;}
.input_info .delivery table select.t {width:80px; *width:76px;}
.input_info .delivery table .area{ margin: 0 8px;}
.input_info .content_box {margin: 20px; max-height: 400px; _height:400px; overflow-y: scroll; line-height:180%;}
.input_info .content_box p.strong {background: #D4EBFA; display: inline-block; font: 800 12px/2 simsun; padding: 0 4px; margin:5px 0;}
.input_info .content_box .red{color: #F60;}
.input_info .save_wrap { float: left; margin-left: -100px; overflow: hidden;  width: 100px; line-height: 16px;}
.input_info .save_wrap .save {color: #333; float: left; height: 16px; line-height: 16px; margin-right: 20px;}
.input_info .save_wrap .save i {background-position: -55px -46px; display: inline-block; float: left; height: 16px; margin-right: 4px; width: 16px;}
.input_info .save_wrap .selected i { background-position: -37px -46px;}
.foreign_guest{ margin-left:20px; }
.foreign_guest input{ vertical-align: middle; margin-right: 5px;}
.all_field_width{ width: 76px;}
.price_red{ color: #F60; margin:0 3px;}
.htl_icon_yes{ display: inline-block; width: 16px; height: 16px; background: url(http://pic.c-ctrip.com/vacation_v1/bg_book.png?20140625.png) -84px -68px no-repeat; vertical-align: middle; margin-right: 3px;}
.person_tips { margin-top:10px; }
.person_tips .package_title { font-size:12px; margin-bottom:5px; }
.person_tips .package_title span{ display:inline-block; background-color:#d4ebfa; padding:2px 5px; }
.person_tips dt{ font-weight:bold; margin-top:10px;}

/*--2014-06/18 add by wlj start--*/
.frm_required{color:#F00; text-align:center; font-family:Arial;}
.input_box li .frm_required{float: left;width:10px; margin-left: -10px;}
/*--end 2014-06/18 add by wlj--*/
/********订单信息填写=e*********/
/********预订信息=s*********/
.input_box .contact_remarks {color:#999; height:55px; line-height: 55px; width:250px; position: absolute; top:126px; left:500px;}
.input_box .contact_remarks span {font-size: 30px; margin-right:10px; vertical-align: -4px;}
.input_box .tab_box{ float: left;}
.input_box .tab_box li {width:80px; float:left; height:30px; border:1px solid #ccc; background-color:#fff; margin-right: 8px; padding-bottom: 0px; position: relative;}
.input_box .tab_box a {display:block; width:80px; height:30px; line-height: 30px; text-align: center; color:#666; text-decoration: none;}
.input_box .tab_box li.cur a, .input_box .tab_box a:hover {color:#333; height:28px;line-height: 26px;border-top:2px solid #06c;}
.input_box .tab_box .price{color: #F60; margin-left:2px; }
.input_box .distribution_list{ margin-left:30px;   line-height: 30px; color: #0065BB; text-decoration: underline; cursor: pointer;}
.delivery {border:1px solid #e4e4e4; padding:15px 0; margin:10px 0; position:relative;}
.input_box .delivery b {display:block; width:13px; height:7px; background-position: -45px -70px; position:absolute; top:-7px; _top:-7px; zoom:1;}
.delivery b.tab_01 {left:33px;}
.delivery b.tab_02 {left:123px;}
.delivery b.tab_03 {left:213px;}
.delivery .tit {padding:0 20px 0 25px; font: 14px/20px "Microsoft Yahei",simsun;}
.delivery .tit strong {margin-left:20px;}
.delivery .tit a {float:right; font: 12px Tahoma,Simsun,sans-serif; line-height: 20px;}
.delivery .tit .postage {float:right; margin-right:20px; color:#ff7a17;font-size: 12px;}
.delivery .tit .mr0{margin-right: 0;}
.delivery .tit .postage span {color:#333;}
.delivery .tit .postage dfn {font-size:14px; margin-left: 5px;}
.delivery .btn {padding:10px 0 10px 20px;}
.delivery .btn_submit {background-color: #F8F9F8; border: 1px solid #bbb; border-radius: 3px; color: #333; display: inline-block; height: 23px;
    line-height: 20px; text-align: center; width: 80px; text-decoration:none; margin-right:10px;}
.delivery .btn_submit:hover {color:#0964bb;}
.delivery .address_list {margin-top: 10px;}
.delivery .address_list li {padding-left:25px; height:30px;line-height:30px; padding-bottom: 0px; vertical-align: middle;}
.delivery .address_list li:hover {background-color: #e2f2ff;}
.delivery .address_list li.cur {background-color: #e2f2ff; font-weight: bold;}
.delivery .address_list input {width:12px; margin-right:5px;}
.delivery .address_list label {cursor:pointer;}
.delivery .hide_options {border-top:1px solid #ccc;  padding-left:25px; margin-top:10px; }
.delivery table {margin-top:10px; color:#666;}
.delivery table td, .delivery table th {padding:3px 5px;}
.delivery table th {font-weight: normal; width:48px; text-align: right;}
.delivery table .import {width:10px;}
.delivery table .red {color:#f00;}
.delivery .help_block {background:#FFFCD8; border: 1px solid #D6C197; color: #999; display: block; padding: 2px 6px 3px 20px; position: relative; text-align: left; width:251px;}

.help_block .ico {left: 4px; position: absolute; top: 6px; background-position: -20px -48px; display: block; overflow:hidden; width: 12px; height: 12px;}
.extras_box{ float: left; width: 770px;}
.extras_box label{ cursor: pointer; margin-right: 20px;}
.extras_box input{vertical-align: middle; margin-right: 5px;}
.extras_box select{ margin-left: -20px;}
.extras_box textarea{ width: 460px; height: 80px; margin-top:10px; padding: 5px; }

.bill_box{float: left; width: 770px;}
.bill_box .point{color:#999; font-size:12px;}
.bill_box li{ padding-bottom: 15px;}
.bill_box .num01{ width: 250px;}
.bill_box .radio{ cursor: pointer; margin-right:20px; }
.bill_box .radio input{ margin: 0 5px 0 2px;}
/********预订信息=e*********/
/********浮出层=s*********/
.mask_popup { background-color: #fff; border: 1px solid #66a2e1;color: #333; padding: 15px 25px 30px 20px; position: relative;}
.mask_popup h3 {font: 18px/24px "Microsoft Yahei",simsun; margin-bottom: 20px;}
.mask_popup .btn_shut_popup {display:block;position: absolute; top:4px; right:16px; width:10px; font-size: 20px; color:#999; text-decoration: none;}
.mask_popup .btn_shut_popup:hover {color:#0065bb;}
.mask_popup li {border-bottom: 1px dotted #ccc; padding:8px 0; height: 18px; overflow: hidden; vertical-align:middle;}
.mask_popup li.check {font-weight: bold;}
.mask_popup li:hover {background-color: #e2f2ff;}
.mask_popup li input {margin-right: 5px;}
.mask_popup li label {cursor:pointer; display:block;}
.mask_popup .btn {margin:20px 0 0;}
.mask_popup .btn a {display:inline-block;}
.mask_popup .btn_blue_small{ margin-right:5px; }

.mod_search_zipcode {background-color: #fff; border: 1px solid #ccc;
    width: 320px; z-index: 2;}
.mod_search_zipcode h4 {background-color: #F1F1F1; border-bottom: 1px solid #ccc; font-size: 12px; font-weight: normal;  padding: 5px 10px; position: relative;}
.mod_search_zipcode h4 .close {color: #9ABBDE; font-size: 20px; line-height: 20px; padding: 0; position: absolute; right: 5px;text-shadow: 0 1px 0 #fff; top: 2px;}
.mod_search_zipcode ul {margin: 0 10px;}
.mod_search_zipcode li {border-bottom: 1px dotted #ccc;padding: 4px;}

.person_passenger {background: #fff; border: 1px solid #ccc; color: #bfbfbf; font-size: 12px; overflow: hidden; padding: 0; width: 276px; z-index: 200px;}
.person_passenger .base_txtgray {line-height: 25px; padding: 1px 5px 0; cursor:pointer;}
.person_passenger .base_txtgray:hover {background-color:#e6f4ff;}
.person_passenger span {float: right; font-family: verdana; overflow: hidden; text-align: right;white-space: nowrap; width: 120px;}

.person_passenger02 {background: #fff; border: 1px solid #ccc; color: #bfbfbf; font-size: 12px; overflow: hidden; padding: 0; width: 270px; z-index: 200px;}
.person_passenger02 .base_txtgray {height: 30px; line-height: 30px; padding: 1px 5px 0; cursor:pointer; color: #0065BB; border-bottom: dotted 1px #ddd;}
.person_passenger02 .base_txtgray:hover {background-color:#e6f4ff;}
.person_passenger02 span {float: right; font-family: verdana; overflow: hidden; text-align: right;white-space: nowrap; width: 120px;}


.person_content {padding: 5px; width: 445px;background: #fff; border: 1px solid #ccc;   overflow: hidden; z-index: 200px;}
.person_content p {border-bottom: 1px dashed #aaa; clear: both; color: #aaa; height: 26px; line-height: 26px; margin-bottom: 4px; text-align: left;color: #bfbfbf;}
.person_content a {float: left; width: 137px; border-bottom: 1px solid #fff;border-top: 1px solid #fff; cursor: pointer; display: block;line-height: 22px;min-height: 22px; overflow: hidden; padding: 1px 5px 0; text-align: left;text-decoration: none; white-space: nowrap;}
.person_content a:hover {background-color:#ffe7a2; text-decoration: none;}
.person_content span {margin-left: 5px; overflow: hidden; text-overflow: clip; white-space: nowrap;}

.person_bill {padding: 5px; width: 250px;background: #fff; border: 1px solid #ccc;  overflow: hidden; z-index: 200px;}
.person_bill p {border-bottom: 1px dashed #ddd; color: #aaa; height: 26px; line-height: 26px; color: #bfbfbf;}
.person_bill a {display: block;height: 26px; line-height: 26px;text-decoration: none; }
.person_bill a:hover {background-color:#e6f4ff; text-decoration: none;}

.base_txtdiv { color:#0065BB; border-bottom:1px #0065BB solid; cursor:pointer; }
.alert_info{ color: #999999;}

.base_address_warp{ background-color: #fff; border: solid 1px #ddd;}
.base_address_list span { float: right;  text-align: right; white-space: nowrap;  width: 110px;}
.base_address_list a { display: block;  cursor: pointer;  height: 32px; line-height: 32px;  overflow: hidden; text-decoration: none; padding:0 10px;}
.base_address_list a:hover {background-color: #E8F4FF;  }
.base_address_message { padding: 5px; background-color: #649FE4; color: #FFFFFF; overflow: hidden;}
.base_address_pagebreak { height: 26px; line-height: 26px; text-align: center;}
.base_address_pagebreak a {color: #0055AA; display: inline-block; font-family: Arial,Simsun,sans-serif;  font-size: 14px;  margin: 0; padding: 0 4px;
   text-align: center;  text-decoration: underline; width: 15px;}

/********浮出层=e*********/
/*********同意以下条款，去支付=s**********/
.defray_box {background-color: #FFF9E8; margin-bottom: 20px; overflow: hidden;}
.defray_shop_box {height:52px; line-height: 52px; float:left; width:695px;border:3px solid #FB9125; border-right:0 none;overflow: hidden;}
.defray_shop_box .prev_stop {float:left; width:40px; display:inline-block; padding-left:30px; position:relative;}
.defray_shop_box .prev_stop b {display:block; width:0; height:0; overflow: hidden; border-width:4px; border-style:dashed solid dashed dashed; border-color:transparent #0065bb transparent transparent; position: absolute; top:23px; left:15px;}
.defray_shop_box .price_source {float:left; width:670px; padding-right:20px; text-align:right;}
.defray_shop_box .price_source dfn {font-family: Arial;}
.defray_shop_box .total {float:right; border-left:1px solid #ffeab8; background-color: #fff8df; height:52px; width:173px;}
.defray_shop_box .total .tit_price {display: inline-block; vertical-align: 9px; padding-left:15px;}
.defray_shop_box .total .total_price {color: #f60; font-family: Tahoma; font-size: 28px; padding-left: 10px; vertical-align: 2px;}
.defray_shop_box .total .total_price dfn {padding-right: 4px; vertical-align: 9px;}
.btn_proess_big {width:220px; float:left;}
.temporary_order{ float: left;  margin-left:20px; _margin-top:18px;  }
.temporary_order b{ display: inline-block; width: 20px; height: 18px; margin-right:5px; background: url(http://pic.c-ctrip.com/vacation_v1/bg_book.png?20140625.png) -73px -46px no-repeat; vertical-align: middle; }
/*********同意以下条款，去支付=e**********/
/*********产品类型=s**********/
.book_product{ position: relative; *zoom:1; background-color: #fff;border: 3px solid #ffe7ae;margin-bottom: 20px; padding: 20px;}
.book_product h2{font: bold 20px/26px "Microsoft Yahei",simsun; margin-bottom:10px;  color:#333; }
.book_product .book_detail{ position: absolute; bottom: 0; right: 0; background-color: #ffe7ae; padding:2px 5px; color: #CD800B;}
.book_product .book_detail i{ display: inline-block; width: 0; height: 0; line-height: 0; cursor: pointer; vertical-align: middle; margin-left:2px; }
.book_product .book_detail i.up{border-style:solid dashed none dashed; border-width:4px 4px 0 4px; border-color:#CD800B transparent transparent transparent; }
.book_product .book_detail i.close{ border-style:none dashed solid dashed; border-width:0 5px 5px 5px; border-color:transparent transparent #CD800B transparent; }
/****hack***/
:root .book_product .book_detail i.close{border-width:0 4px 4px 4px;}
/**/
.book_product_content{ border-top: solid 1px #DFDDDD;  padding: 5px 0; }
.book_product_name{float: left; width: 100px; color:  #333;font: 20px/26px "Microsoft Yahei",simsun;}
.book_table_list{float: right; width: 790px; table-layout: fixed;}
.book_table_list .gray{color: #999999;}
.book_table_list .eurail_rules{ background-color:#F8F8F8; border: solid 1px #EAEAEA; padding: 10px;}
.book_table_list td{ padding: 5px; vertical-align: top;}
.book_width_all01 .width01{ width: 90px;}
.book_width_all01 .width02{}
.book_width_all01 .width03{ width: 190px;}
.book_width_all01 .width04{ width: 80px;}
.book_width_all01 .width05{ width: 116px;}
.book_width_all01 .width06{ width: 100px;}

.book_width_all02 .width01{ width: 90px;}
.book_width_all02 .width02{}
.book_width_all02 .width03{ width: 190px;}
.book_width_all02 .width04{ width: 80px;}
.book_width_all02 .width05{ width: 116px;}
.book_width_all02 .width06{ width: 100px;}

.book_width_all03 .width01{ width: 90px;}
.book_width_all03 .width02{}
.book_width_all03 .width03{ width: 116px;}
.book_width_all03 .width04{ width: 100px;}

.book_width_all04 .width01{ width: 90px;}
.book_width_all04 .width02{}

.book_width_all05 .width01{ width: 90px;}
.book_width_all05 .width02{}
.book_width_all05 .width03{ width: 226px;}

.special_flt { background-color: #FFE8B3; color: #CD800B; display: inline-block;   padding: 0 5px; cursor:pointer; }
.book_memo_bgwhite{ display: inline-block; padding: 0 5px; cursor: pointer; background-color: #fff; color: #707A91; border: solid 1px #D7D7D7; margin:0 5px 5px 0;}
.book_memo_bgyellow{ display: inline-block; padding: 0 5px;  background-color: #FFF9EA; color: #D2800B; border: solid 1px #FFE7AE; margin: 0 5px 5px 0;}
.special_cancel{ display: inline-block; background-color: #82AEE7; height: 16px;line-height: 16px; padding: 0 2px; color: #fff; cursor: pointer; margin-left:5px; }
.special_notice{display: inline-block; background: url(http://pic.c-ctrip.com/vacation_v1/bg_book.png?20140625.png) -20px -48px no-repeat; width: 12px; height: 12px; vertical-align: middle;margin-left:5px; cursor: pointer;}
.hotel_box_icon{display: inline-block; background: url(http://pic.c-ctrip.com/vacation_v1/bg_book.png?20140625.png) -106px -70px no-repeat; width: 12px; height: 12px; vertical-align: middle;margin-left:5px; cursor: pointer;}
.hidden_content{position: relative; background-color: #F8F8F8; border: solid 1px #EAEAEA; padding: 10px;}
.hidden_content .arrow{ width:13px; height:7px;background: url(http://pic.c-ctrip.com/vacation_v1/bg_book.png?20140625.png) -65px -71px no-repeat; position:absolute; top:-7px; }
.hidden_content .float_img{ float: left; width: 175px; margin-right:20px; }
.hidden_content .pack_up{ position: absolute; bottom: 6px; right: 10px;}
.hidden_box{ float: left; width: 530px;}
.hidden_box li{ line-height: 20px;}
.eurail_more,.eurail_more:hover{ color: #999;}
.eurail_transfer{ position: relative; border-top: dotted 1px #EDEDED; height: 0;}
.eurail_transfer .transfer{ position: absolute; top: -12px; padding-right:10px; background-color: #fff; font-weight: bold;}
.eurail_transfer .transfer i{ display: inline-block; width: 12px; height: 12px; background: url(http://pic.c-ctrip.com/vacation_v1/bg_book.png?20140625.png) -96px -49px no-repeat; vertical-align: middle; margin-right:5px; }
.book_table_list .eurail_vertical{ vertical-align:middle;}
.book_transfer_span li{ border-bottom: dotted 1px #ddd; margin-bottom:5px; padding-bottom: 5px; }
.info_confirm{cursor: pointer;}
.info_confirm input{ vertical-align: middle; margin-right: 5px;}
.special_warning{display: inline-block; background: url(http://pic.c-ctrip.com/vacation_v1/bg_book.png?20140625.png) -18px -67px no-repeat; width: 19px; height: 15px; vertical-align: middle;margin-left:5px;cursor: pointer;}

.book_width_all06{}
.book_width_all06 .width01{ width: 180px;}
.book_width_all06 .width02{}
.book_width_all06 .width03{width: 150px;}
.book_width_all06 .width04{ width: 90px;}
.book_width_all06 .hidden_box{width: 390px;}
.hidden_content .picgroup{float:left;margin-right:15px;width:350px;}
.hidden_content .picgrounp .focus_img{margin-bottom:15px;width:350px;height:210px;overflow: hidden;}
.hidden_content .picgroup ul{margin-left:-5px;}
.hidden_content .picgroup li{float:left;margin-left:5px;width:66px;height:35px;display:inline;}
.hidden_content .picgroup li img{filter:alpha(opacity=50);opacity:0.5;}
.hidden_content .picgroup li a:hover img,.hidden_content .picgroup li .cur img{filter:alpha(opacity=100);opacity:1;}

/***********visa*************/
.visa_detail { margin-bottom:10px; }
.visa_detail td, .visa_detail th { border:1px solid #A0C6EC; padding:5px 24px; color:#666; }
.visa_detail td { text-align:left; }
.visa_detail th { font-weight:bold; color:#333; background-color:#fff; }
.visa_detail p { padding-bottom:15px; border-bottom:1px solid #DCE5EC; margin-bottom:15px; line-height:2; color:#666; }
.visa_detail .close { color:#69C; background:url(http://pic.c-ctrip.com/common/un_ico_blue.png) 1px -1865px no-repeat; padding-left:15px; padding-right:5px; display:block; position:absolute; border:1px solid #DCE5EC; left:20px; top:536px; }
.visa_detail .close:hover { color:#FFF; background:url(http://pic.c-ctrip.com/common/un_ico_blue.png) 1px -1887px #69C no-repeat; cursor:pointer; text-decoration:none; }
.visa_detail_dis { display:none; }

.visa_box { text-align:left; color:#666; }
.visa_box li { padding:0 0 0 5px; overflow:hidden; line-height:20px;/*text-overflow:ellipsis; white-space:nowrap;*/ color:#666;  padding-bottom:15px; border-bottom:1px solid #DCE5EC; margin-bottom:15px; line-height:2; color:#666; }
.visa_box_a{ margin-bottom: 10px;}
/******=s 蒙版******/
.book_masking{ width: 640px; background-color: #fff; border: 1px solid #b2dbf4;}
.book_masking h2{ font-size: 14px; background-color:#6fc3f8; height: 35px; line-height: 35px; color: #fff; padding:0 10px 0 18px;}
.book_masking h2 a{ float: right; width: 14px; height: 14px; background: url(http://pic.c-ctrip.com/vacation_v1/un_base_common.png) -36px -24px no-repeat; margin-top:8px;  }
.book_masking h2 a:hover{ background-position: -36px -42px; text-decoration: none;}
.book_masking_padding{ padding: 30px;}
.book_masking_content{ padding-left: 55px; line-height: 24px;}
.book_masking_content h3{ font-size: 14px; margin-bottom:10px; }
.masking_order_btn{ padding-top: 30px; text-align: center;margin-left:-55px;}
.book_masking_content .icon_yes{ float: left; width: 32px; height: 32px; background: url(http://pic.c-ctrip.com/vacation_v1/bg_book.png?20140625.png) -144px -46px no-repeat; margin-left: -55px;}
.book_masking_content .icon_no{float: left; width: 32px; height: 32px; background: url(http://pic.c-ctrip.com/vacation_v1/bg_book.png?20140625.png) -180px -46px no-repeat; margin-left: -55px;}
.book_masking_content .btn_blue_middle{width: 60px;}
.book_masking_padding2 .btn_blue_middle{width: 100px;}

.book_masking_padding2{ position: relative; padding: 45px 30px;}
.book_masking .btn_close{display:block;position: absolute; top:4px; right:16px; width:10px; font-size: 20px; color:#999; text-decoration: none;}
.book_masking .btn_close:hover {color:#0065bb;}
.book_masking_padding2 .book_masking_content{ padding-left: 110px; line-height: 24px;}
.book_masking_padding2 .book_masking_content .icon_cry{ float: left; width: 83px; height: 98px; background: url(http://pic.c-ctrip.com/vacation_v1/bg_icon_face.png) no-repeat; margin:-10px 0 0 -110px;}
.book_masking_padding2 .icon_stunned{ float: left; width: 83px; height: 98px; background: url(http://pic.c-ctrip.com/vacation_v1/bg_icon_face.png) -93px 0 no-repeat; margin:-10px 0 0 -110px;}
.book_masking_padding2 .masking_order_btn{ margin-left: 0; padding-top: 5px;  text-align: left;}
.book_masking_padding2 .masking_order_btn2{ padding-top: 5px; text-align: center;} 
.book_masking_padding2 .text_deep{ color: #000;}
.book_masking_padding2 .btn_cancel{ display: inline-block; margin-left: 24px; font-size: 14px;}
.book_masking_padding2 .num{ font-weight: bold; color: #ff9913;}
/******=e 蒙版******/
/***2013-10-08zhanghl*s**/
.price_bar .study_notice { color: #999999;padding-top: 10px; }
/***2013-10-08zhanghl*e**/
/***2013-10-17zhanghl*s**/
.input_info .content_box .travel_contract { border-top: 1px solid #EAEAEA;margin-top: 20px;padding-top: 20px; }
/***2013-10-17zhanghl*e**/
/***20131121 liuff*s**/
.discount{background-color: #fff; border: 1px solid #D5D5D5; margin-bottom: 20px; overflow:hidden; *zoom:1; padding:20px;}
.discount h4{float: left; font: 16px/20px "Microsoft Yahei",simsun; width: 120px;}
.discount_box{ float: left; width: 770px; line-height: 24px;}
.discount_box .title{ float: right; color: #999;}
.discount_box .explain{ color: #999;}
.discount_box .btn_normal{ height: 20px; line-height: 20px; margin-left: 5px;}
.discount_box .price{ color: #FF7A17; font-weight: bold;}
.discount_box .price dfn{ margin-left: 3px; }
.discount_box .input_width{ width: 120px; vertical-align: middle;}
/***20131121 liuff*e**/
/***20131204 liuff*s**/
.delivery_content .delivery b.tab_00 {left:33px;}
.delivery_content .delivery b.tab_01 {left:123px;}
.delivery_content .delivery b.tab_02 {left:213px;}
.delivery_content .delivery b.tab_03 {left:303px;}
.delivery_content .delivery b.tab_04 {left:396px;}

.input_info .product_input .more_close,.input_info .product_input .more_close:hover{ display: inline-block; padding-bottom: 10px; color: #333; text-decoration: underline;}
.input_info .product_input .more_close:hover{ color: #0065BB; }
.input_info .product_input .more_open,.input_info .product_input .more_open:hover{ display: inline-block; padding-bottom: 10px; color: #333; }
.input_info .product_input .more_open:hover{color: #0065BB;}
/***20131204 liuff*e**/
/***20131210 xys*s**/
/*====== 附加产品选择页 ======*/
.recommend_box{zoom:1;overflow:hidden;border:1px solid #d5d5d5;background:#fff;padding:20px;margin-bottom:20px;}
.recommend_box h3{margin-bottom:10px;font:normal 16px "Microsoft Yahei",simsun;color:#999;}
.recommend_list_tit{table-layout:fixed;}
.recommend_list_tit th{padding:5px;font-weight:normal;text-align:center;background:#f1f1f1;color:#666;}
.recommend_list_col{overflow:hidden;zoom:1;position:relative;}
.recommend_list_col li{padding:7px 0 7px 100px;position:relative;zoom:1;border-top:1px solid #DFDDDD;margin-top:-1px;}
.recommend_list_col .recommend_title{font:16px/26px "Microsoft Yahei",simsun;position:absolute;left:5px;top:9px;}
.recommend_list_col .recommend_list{table-layout:fixed;}
.recommend_list_col .recommend_list td{padding:5px;text-align:center;}
.recommend_list_col .recommend_list td .hidden_content{text-align:left;}
.recommend_list_col .recommend_list td .hidden_content td{text-align:left;}
.recommend_list_col .hidden_content li{margin-top:0;padding:0 0 15px 5px;border-top:none;}
.ctrip_price{color:#ff6600;}

/***20131210 xys*e**/
/***20140227 lff=s******/
.sub_coupon{ background:#fff; border:#ccc 1px solid; width:142px}
.sub_coupon li a{ display:block;border-bottom: 1px dotted #ccc;padding:4px; color:#333;}
.sub_coupon li a:hover{ background:#F1F1F1; text-decoration:none}

.sub_big_coupon{ background:#fff; border:#ccc 1px solid; width:500px; max-height:218px; _height:218px; overflow:auto;}
.sub_big_coupon li a{ display:block;border-bottom: 1px dotted #ccc;padding:4px; color:#333; overflow:hidden; zoom:1; vertical-align:top}
.sub_big_coupon li a:hover{ background:#F1F1F1; text-decoration:none}
.sub_big_coupon .coupon_tit,.sub_big_coupon .coupon_num{ float:left; height:18px; line-height:18px; overflow:hidden}
.sub_big_coupon .coupon_tit{ text-overflow:ellipsis; white-space:nowrap; width:360px; }
.sub_big_coupon .coupon_num{ margin-right:10px; width:100px;}
/***20140227 lff=e******/

/***20140210 liuh*s**/
.linkman_tips{ font-size: 12px; color: #999; margin-left: 35px;}
.linkman_info{ margin-left: 120px; _display: inline;}
.input_box .linkman_tel{ top: 58px;_left: 515px;}
.nameinfo{height: 30px; line-height: 30px; padding: 1px 5px 0; cursor:pointer; color: #0065BB;}
.nameinfo:hover {background-color:#e6f4ff;}
.nameinfo b{ font-weight: normal; margin-left: 15px;}

.luggage_limit_info { padding: 6px 10px;background-color: #E7F5FF; }
.luggage_limit_info i { display: inline-block;width: 16px;height: 16px;background: url(http://pic.c-ctrip.com/vacation_v1/bg_book.png?20140625.png) 0 -46px no-repeat;vertical-align: middle;margin-right: 6px; }

.input_englishname{ width: 126px; margin-right: 5px;}
.input_engnomar{ margin-right: 0;}
.english_passenger{ width: 132px;} 
.english_passenger span{ width: 70px;} 
/***20140326 guojun*s**/
.defray_shop_box .corp_account {float:right; display:inline; margin-right:10px;}
.defray_shop_box .corp_account input{ vertical-align:middle}
.account_txt{ display:inline-block}
.defray_shop_box .corp_account input{ height:12px; width:12px; overflow:hidden}
/*********产品类型=e*********/
/*********提交成功提示 2014/5/13 start*********/
.submit_book_result{ position:relative; min-height:56px; _height:56px;font-family: "Microsoft Yahei",simsun; font-size:16px;margin-bottom: 20px;padding: 28px 20px 20px 100px;border: 1px solid #cce2a7;border-top: 4px solid #86c317;}
.submit_book_result .icon_success,.book_finished .icon_success,
.submit_book_result .icon_error,.book_finished .icon_error{ position:absolute; left: 20px;top: 20px; width:64px; height:64px; font-size:0;background: url(http://pic.c-ctrip.com/vacation_v1/bg_book.png?20140625) -30px -90px no-repeat; overflow:hidden;}
.submit_book_result .icon_error,.book_finished .icon_error{background-position: -100px -90px;}
/*********end 提交成功提示 2014/5/13*********/
/*--20140619 add by wlj start--*/
/*--
.discount_box .input_width,.bill_box .num01{_height: 14px; _padding: 2px;}
--*/
.hide_options{ position:relative;*zoom:1;}
.extras_box .default select{ vertical-align:middle;}

.usual_address_item .ico_checked,
.usual_address_item .edit i,
.handle_area .ico_more,
.handle_area .ico_add,
.select_address_list li .ico_checked,
.book_finished .ico_gifts{background-image: url(http://pic.c-ctrip.com/vacation_v1/bg_book_sprite.png?20140625);}

.usual_address_mod{*zoom:1; position:relative;width: 100%;margin-top: 12px;margin-bottom: 20px;overflow:hidden;}
.usual_address_list{*zoom:1; display:inline;float: left;width: 525px; height:105px;padding-left: 25px; overflow:hidden;}
.usual_address_mod::after,.usual_address_list::after{clear: both; content: ""; display: block; height: 0; overflow: hidden;}
.usual_address_item,.input_info .input_box .usual_address_item{*zoom:1; position:relative; display:inline;float: left;width: 145px; height:98px;margin-bottom: 12px;margin-right: 10px;padding: 5px 9px 0;border: 1px solid #e6e6e6; overflow:hidden;}
.usual_address_item .name{padding-right: 60px;}
.usual_address_item .tel{}
.usual_address_item .address{ height:38px;color: #999; overflow:hidden;}
.usual_address_item .code{color: #999;}
.usual_address_item .ico_checked{visibility:hidden; position:absolute; right:0; bottom:0; width:19px; height:19px;background-position: 1px 1px;}
.usual_address_item .edit{ visibility:hidden; position:absolute;right:0; top:0; width:30px; height:19px; font-style:normal; color:#FFF; text-decoration:none!important;padding-left: 22px;background-color: #CCC; overflow:hidden;}
.usual_address_item .edit:hover{background-color: #ff9115;}
.usual_address_item .edit i{ position:absolute; left:7px; top:4px; width:11px; height:11px;background-position: -59px 0; overflow:hidden;}
.handle_area{position:relative;display:inline;float: left;}
.handle_area a{ position:relative;float: left; width:95px; height:103px;color: #666; text-align:center;margin-right: -1px;border: 1px solid #e6e6e6;}
.handle_area .ico_more{ display:block;width:24px; height:6px;margin:30px auto 12px;background-position: -20px 0; overflow:hidden;}
.handle_area .ico_add{ display:block; width:22px; height:22px; margin:20px auto 6px;background-position: 0 -20px; overflow:hidden;}

.usual_address_item:hover,.usual_address_item_hover,.usual_address_item_selected,
.input_info .input_box .usual_address_item:hover,.input_info .input_box .usual_address_item_hover,.input_info .input_box .usual_address_item_selected{border-color: #ff9215;}
.usual_address_item_selected .ico_checked,
.usual_address_item:hover .edit,.usual_address_item_hover .edit{ visibility:visible;}
.handle_area a:hover{ z-index:21;color: #ff9115; text-decoration:none;border-color: #ff9215;}
.handle_area a:hover .ico_more{background-position: -20px -10px;}
.handle_area a:hover .ico_add{background-position: -30px -20px;}

.select_address_list {padding: 0 25px; overflow:hidden;}
.select_address_list li { position:relative;height:30px;line-height:30px;vertical-align: top;margin-top: 10px;padding-left: 20px;border: 1px solid #e6e6e6;}
.select_address_list .ico_checked{visibility:hidden; position:absolute; right:0; bottom:0; width:19px; height:19px;background-position: 1px 1px;}
.select_address_list li:hover,.select_address_list li.hover {border-color: #ff9215;}
.select_address_list li.cur {border-color: #ff9215;}
.select_address_list li.cur .ico_checked{ visibility:visible;}
.input_info .input_box .select_address_list li{padding-bottom: 0;}

.popup_book_table {margin-top:10px; color:#666;}
.popup_book_table td, .popup_book_table th {padding:3px 5px;}
.popup_book_table th {font-weight: normal; width:48px; text-align: right;}
.popup_book_table .import {width:10px;}
.popup_book_table .red {color:#f00;}
.popup_book_table .help_block {background:#FFFCD8; border: 1px solid #D6C197; color: #999; display: block; padding: 2px 6px 3px 20px; position: relative; text-align: left; width:251px;}
.popup_book_table select {width:79px;}
.popup_book_table select.t {width:80px; *width:76px;}
.popup_book_table .area{ margin: 0 8px;}
.popup_book_table .input_m {width: 270px;_height: 14px; _padding: 2px;}
.popup_book_table input.mr5{_height: 14px; _padding: 2px;}
.input_info .input_box li .help_block {background:#FFFCD8; border: 1px solid #D6C197; color: #999; display: block;margin-left: 86px;margin-top: 4px; padding: 2px 6px 3px 20px; position: relative; text-align: left; width:430px;}


.book_finished{ position:relative;line-height:22px;padding: 50px 0 50px 50px;border: 3px solid #ffe7ae;}
.book_finished .part{ position:relative; width:700px; margin:15px auto 0;padding-top: 15px;border-top: 1px dashed #d7d7d7;}
.book_finished .part1{ font-size:14px;padding-top: 0;border-top: 0 none;}
.book_finished .icon_success,.book_finished .icon_error{left: -75px;top: 0;}
.book_finished h2{ font-size:24px; line-height:30px;}
.book_finished .webtxt{color: #0065bb;}
.book_finished .webtxt2{color: #FF9813;}
.book_finished .desc{margin-bottom: 4px;}
.book_finished .item_desc{margin-right: 24px;}
.book_finished .btn_mod{margin-top: 8px;}
.book_finished .btn_mod strong{font-weight: normal;}
.book_finished .btn_mod a{margin-right: 24px;}
.book_finished .btn_red_middle{ height:30px; line-height:30px;}
.book_finished .part3 p{margin-bottom: 4px;}
.book_finished .btn_a_link{ position:relative; display:inline-block;margin-left: 24px;}
.book_finished .part1 .btn_a_link{margin-left: 0;}
.book_finished .arr_right{ display:inline-block;width: 0; height:0;border-width: 4px;border-style: dashed dashed dashed solid;border-color: transparent transparent transparent #0065bb; vertical-align:middle; overflow:hidden;}
.book_finished .tips{padding: 4px 0;}
.book_finished .ico_gifts{ display:inline-block; width:27px; height:27px; vertical-align:middle;margin-right: 12px;background-position: 0 -50px; overflow:hidden;}
.book_finished .tips a{color: #666;}
.a_d_img_box{width: 1180px;margin-top: 10px; overflow:hidden;}
.a_d_img_box img{ vertical-align:top;}
/*--helpguide start--*/
 .bottom_advantage .security dt i, .bottom_advantage .help dt i, .bottom_advantage .guide dt i{background-image:url(http://pic.c-ctrip.com/vacation_v2/searchresult/un_searchresult.png?20140625.png); background-repeat: no-repeat;}

.bottom_advantage_wrap {background-color: #fff;}
.bottom_advantage_wrap{background-color:#fff;height:auto;min-width:1000px; padding:0;}
.bottom_advantage_wrap02{background-color:transparent;height:auto;min-width:1000px; padding:0;}
.bottom_advantage{width:1180px;margin:0 auto;overflow:hidden; padding:20px 0 15px; border-bottom:1px solid #dce6ea;}
.bottom_advantage dl{padding-left:80px;float:left;height:auto;border-right:1px dotted #fff;float:left;overflow:hidden;position:relative;}
.bottom_advantage dt{color:#858585;font:16px microsoft yahei;width:100%;float:left;padding-bottom:5px;}
.bottom_advantage dt i{position:absolute;background-color:#3D95C9;}
.bottom_advantage dd{float:left;width:120px;padding:2px 0;}
.bottom_advantage dd a{color:#858585;}
.bottom_advantage .special_instruct{width:100%;padding-top:2px;color:#ccc;}
.bottom_advantage .security{width:421px;}
.bottom_advantage .security dt i{width:39px;height:42px;background-position:0 -566px;left:25px;}
.bottom_advantage .help{width:275px;}
.bottom_advantage .help dt i{width:48px;height:42px;background-position:-40px -566px;left:19px;top:4px;}
.bottom_advantage .guide{width:242px;border:0 none;}
.bottom_advantage .guide dt i{width:46px;height:39px;background-position:-88px -566px;left:22px;top:4px;}

/*--end 20140619 add by wlj--*/

@media (max-width: 1240px), (max-device-width: 1240px){  
.cui_hd {width:980px;}
.cui_nav{width: 980px;}
.main {width: 980px;}
.book_main_box{ width: 750px;}
.book_product_name{width:65px; }
.book_table_list{width: 638px;}
.hidden_box{ width: 380px;}
.input_info .product_input h4,.discount h4{ width: 90px;}

.input_info .input_box,.discount_box{width: 615px;}
.input_info .person_select li{width: 160px;}
.input_info .input_box input.input_sale{ width: 60px;}
.input_box .contact_remarks{ left:465px; }
.bill_box{width: 615px;}
.bill_box .num01{ width:200px; }
.extras_box{width: 615px;}
.defray_shop_box{width: 505px;}
.foreign_guest{ margin-left:2px; }

.book_width_all01 .width01{ width: 80px;}
.book_width_all01 .width02{}
.book_width_all01 .width03{ width: 120px;}
.book_width_all01 .width04{ width: 70px;}
.book_width_all01 .width05{ width: 116px;}
.book_width_all01 .width06{ width: 80px;}

.book_width_all02 .width01{ width: 80px;}
.book_width_all02 .width02{}
.book_width_all02 .width03{ width: 120px;}
.book_width_all02 .width04{ width: 70px;}
.book_width_all02 .width05{ width: 116px;}
.book_width_all02 .width06{ width: 80px;}

.book_width_all03 .width01{ width: 80px;}
.book_width_all03 .width02{}
.book_width_all03 .width03{ width: 116px;}
.book_width_all03 .width04{ width: 80px;}

.book_width_all04 .width01{ width: 80px;}
.book_width_all04 .width02{}

.book_width_all05 .width01{ width: 80px;}
.book_width_all05 .width02{}
.book_width_all05 .width03{ width: 196px;}
.linkman_info{margin-left:81px;}
.input_info .input_box .hrs{width:218px;overflow:hidden; display:inline-block; vertical-align:top;}
.input_info .input_box .hrs2{width: 140px;*vertical-align:-1px;}

.book_width_all06 .hidden_box{width: 236px;}

.usual_address_list{width: 364px;}
.usual_address_item,.input_info .input_box .usual_address_item{margin-right: 13px;padding: 5px 10px 0;}
.handle_area a{width: 98px;}

.bottom_advantage_wrap,
.bottom_advantage_wrap02{min-width:980px;}
.bottom_advantage {width:980px;}
.bottom_advantage .security {width:366px;}
.bottom_advantage .help {width:230px;}
.bottom_advantage .guide{width:142px;}
.bottom_advantage dd{width:115px;}
.a_d_img_box{width: 980px;}
}  
