@charset "utf-8";
/* CSS Document */

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, em, button { margin:0; padding:0; }
html { background-color:#FFF; }
body { background-color:#FFF; font-size:12px; line-height:1.5; font-family:Tahoma, Simsun, sans-serif; color:#333; }
img, fieldset { margin:0; padding:0; border:0; }
input, textarea { font-size:12px; }
table { border-collapse:collapse; }
a { color:#0065BB; text-decoration:none; outline:0 none; }
a:hover { text-decoration:underline; }
h1, h2, h3, h4, h5 { font-family:Arial, Simsun, sans-serif; }
ul li, ol li { list-style:none; }
dfn { font-style:normal; font-size:12px; font-family:Arial !important; }
select { padding:1px; font-family:Arial, Simsun, sans-serif; border:1px solid #CCC; background-color:#FFF; }
input[type="text"] { padding:3px; border:solid 1px #CCC; box-shadow: 1px 1px 3px #DDDDDD inset; }
input[type="text"]:focus { background-color:#f1f9ff; border-color:#5d9de5 #67a1e2 #67a1e2 #5d9de5; border-style:solid; border-width:1px; box-shadow: 1px 1px 3px #d0dee6 inset; }
input { _padding:3px; }
input[type="number"]::-webkit-inner-spin-button {
display:none;
}
.layoutfix { display:inline-block; }
.layoutfix { display:block; overflow:hidden; }
.basefix { *zoom:1;
}
.basefix:after { clear:both; content:'.'; display:block; height:0; overflow:hidden; }
.youyou_box { width: 562px; background-color: #ffffff; border: 1px solid #3aa7ee; font-size: 12px; height:600px; position:relative; }
.body-search { height:510px; overflow-y:scroll }
.youyou_title { background-color: #33374a; text-align:center; color:#ffffff; position:relative; }
.youyou_title i { position:absolute; right:15px; font-style:normal; font-weight:normal; cursor:pointer }
.output { position:absolute; bottom:0; width:532px; background-color: #dfe3e8; padding: 10px 15px; }
.output input { height: 31px; padding: 0 2px; width: 80%; background-color: #ffffff; border-radius: 6px; vertical-align:top; }
.output .send { background-color: #00cd6a; color: #ffffff; font-size: 14px; display: inline-block; padding: 6px 15px; border-radius: 6px; margin-left: 10px; }

.left_box.yellow_bg { background-color:#eff79c; }
.red { color:#ff1200; }
.btn_box { margin: 0px 26px 15px 0; padding: 15px 15px 15px 0; float:left; }
.btn_box span { background-color: #00cd6a; color: #ffffff; font-size: 14px; display: inline-block; padding: 5px 15px; border-radius: 6px; margin-left: 10px; cursor:pointer; }
.box { padding:20px 24px 50px 15px; font-size:14px; color:#464c6c; }
.left_box { background-color: #f0f3f7; border-radius: 16px; padding: 15px; float:left; margin: 15px 0px 15px 0; }
.right_box { background-color: #f0f3f7; border-radius: 16px; padding: 15px; float:right; margin: 15px 0px 15px 0; }
.vbk_ctrip { font-size:12px; color:#a3a6b6; text-align:left; }
