.memspring h2{
    color: #005993;
    margin: 0 auto;
}
.memspring h2.title{
    color: #00aeef;
    text-align: right
}
.memspring h4 {
    color: #00aeef;
    margin-top: 1em;
}

.memspring .content, .memspring .special {
    margin-bottom: 2em;
}

.memspring .content p {
    text-indent: 2em;
}

.memspring .special h5 {
    color: #7f7f7f;
    margin-bottom: 1em;
}

.memspring .special p {
    margin: .5em auto;
}

.memspring .special p em {
    font-style: normal;
    color: #00aeef;
    font-weight: bold;
}

.memspring .special i {
    font-style: normal;
    color: #999;
}

.memspring .compare {
    width: 100%
}

.memspring .compare th {
    background-color: #548dd4;
    color: #fff;
    text-align: center;
    border: 1px solid #000;
}

.memspring .compare td {
    border: 1px solid #000;
    padding: .2em;
    text-align: center;
}

.memspring .banner{
    width: 100%;
}

.memspring .banner img {
    width: 100%;
    height: auto;
}

.memspring.index{
    background:#fff url(../img/bg.jpg) no-repeat top center;
    background-size: cover;
    min-height: 720px;
}

.memspring .mainmemu ul{
    float: right;
    margin: 0;
    padding: 6em 0 0 0;
    list-style: none
}

.memspring .mainmemu li{
    background-color: rgba(1,87,190,.6);
    padding:.5em 1em .5em 1em;
    margin-bottom: 1em;
}

.memspring .mainmemu li a{
    color: #fff;
}

.contact {
    padding-top:16em;
    background:#fff url(../img/world.png) no-repeat top center;
    min-height: 660px;
    background-size:contain;
}

.contact h6 {
    margin: 0;
    padding: 0;
}

.group .list {
    margin: -11px 0 1.875rem 0;
    padding: 0;
    list-style: none;
    background: #fff
}

.group .item {
    padding: .625rem .9375rem;
    min-height: 2.75rem;
    margin-bottom: -1px;
    border: 1px solid #e6e6e6;
    border-width: 1px 0
}

.group .item-content .item-main {
    display: block
}



.group .item-media{
    float: left;
    margin-right: 1em;
}
.group .item-media+.item-main {
    margin-left: .625rem
}

.group .item-main,.item-title-row {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.group .item-desc {
    margin-bottom: .625rem;
}


.group .item-after {
    float: right;
}

.group .item-title-row~[class*=item-] {
    margin-top: .3125rem
}