<h5>添加自定义类型</h5>
<form class="form-inline" name="editForm">
  <div class="form-group">
    <input type="text" class="form-control" ng-model="ProfessName" id="exampleInputName2" placeholder="exp .." required>
  </div>
  <div class="form-group">
    <select ng-model="ProfessType" class="form-control">
      <option value="{{item.cname}}" ng-repeat="item in profess">{{item.cname}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-success" ng-click="addProfessional()" ng-disabled="editForm.$invalid">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    添加
  </button>
  <!-- <div class="alert alert-success" role="alert" style="margin-top: 1em">添加成功</div> -->
</form>
<table class="table table-bordered" style="margin-top: 1em">
  <tr>
    <th>#</th>
    <th>名字</th>
    <th>编辑</th>
  </tr>
  <tr ng-repeat="item in specProfess">
    <td>{{$index + 1}}</td>
    <td>{{item.cname}}</td>
    <td>
      <span ng-click="del(item.id)">
        <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
        删除
      </span>
    </td>
  </tr>
</table>