/****/
.cui_nav,.cui_hd{ width: 1180px;}
.cui_sub_nav{width: 1178px;}
.vacation_bd{width:1180px;margin:0 auto;padding: 0 10px;}
.vacation_bd:after{ clear:both; content:'.'; display:block; height:0; overflow:hidden; }
/****#base_bd{margin-top:-54px;}****/
.function_label { top: 35%; }
input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"] {padding: 3px;border: solid 1px #CCC;box-shadow: 1px 1px 3px #DDDDDD inset;}

.pay_wrap{width: 1180px; margin: 0 auto;}
/**.pay_header p{float: right;  }**/
.pay_money{background-color: #FFFCD8;padding: 15px 0 15px 15px;}
.pay_num{float: left;padding-right: 20px;border-right: solid 2px #E6DFC2; }
.pay_num span{display: block;margin-top: 2px; font-size: 25px; color: #FF6600;font-weight:bold;}
.pay_num span dfn{font-size: 12px;color: #333;font-weight: normal;vertical-align: 10px;margin-right: 3px;}
.pay_money div{float: left;margin-left: 15px;_display: inline;font: 14px "Microsoft YaHei",hei;margin-top: 5px;}
.pay_money div h2{font:bold 14px "Microsoft YaHei",hei;}
.pay_money div p{margin-top:5px;}
.pay_box{margin: 20px 0;border:solid 2px #0066CC;padding: 0 15px 15px;}
.pay_box li{position: relative; padding: 20px 0;border-bottom:solid 1px #F1F1F1;}
.pay_box .pay_del{float: right;line-height: 34px;}
.pay_ways{ font: 14px "Microsoft YaHei",hei;}
.pay_box label{ margin-right: 25px;}
.pay_box strong{margin:0 10px;}
.pay_box .pay_inputnum{ width: 110px;margin-right: 5px; height: 20px;line-height: 20px; padding: 6px 3px;vertical-align: middle;border: 1px solid #CCCCCC;}
.pay_tipnum{position: absolute;left: 545px;top: 24px;height: 24px; line-height: 24px;padding: 0 5px; background-color: #FFFCD8;border:solid 1px #D6C197;}
.pay_tipnum b,.pay_tipnum i{position: absolute;top: 7px; border-left: 0 none;border-top: dashed 5px transparent;border-bottom: dashed 5px transparent;line-height: 0;}

.pay_tipnum b{left: -6px; border-right:solid 5px #D6C197;}
.pay_tipnum i{left: -5px;border-right:solid 5px #FFFCD8;}
.pay_box .payerror{border-color: #D80000;}
.pay_waysbtn{display: inline-block;vertical-align: middle; border:solid 1px #CCCCCC;padding: 0 20px; height: 30px;margin-right: 12px;font: 14px/30px "Microsoft YaHei",hei;color: #333;
background-color: #EFEFEF;
background: -moz-linear-gradient(top, #fff, #EFEFEF);
background: -webkit-linear-gradient(top, #fff,#EFEFEF);
background: -o-linear-gradient(top, #fff,#EFEFEF);
background: -ms-linear-gradient(top, #fff,#EFEFEF);
background: linear-gradient(to bottom, #fff,#EFEFEF);
}
.pay_waysbtn span{display: inline-block;vertical-align: -1px; color: #099FDE;font:18px Arial;margin-right: 4px;_line-height: 30px;}
.pay_waysbtn:hover{text-decoration: none;}
.pay_price{font-weight: bold;color: #FF6600;margin-right: 12px;}
.pay_tips{padding-left: 20px; height: 24px;line-height: 24px;margin-top: 10px; border: solid 1px #D6C197;background: #FFFCD8 url(http://picint.sh.ctriptravel.com/vacation_v2/pay/pay_bg.png) no-repeat 4px 6px;}
.pay_step{margin-top: 20px;text-align: center;}
.pay_step .pay_prestep {float: left;}
.pay_prestep b{display: inline-block;vertical-align: middle; border-left: 0 none; border-right:solid 5px #0A5CC0;border-top: dashed 5px transparent;border-bottom: dashed 5px transparent;line-height: 0;margin-right: 5px;}
.btn_blue_big{vertical-align: top;}
.pay_choose{display: inline-block;*display: inline;*zoom:1; width: 90px;}
.pay_yetnum{ display: inline-block;*display: inline;*zoom:1; width: 130px;}
.pay_yetnum span{ margin-left: 5px;}
.pay_notnull{ color: #666666; margin-left: 5px;}
.pay_notnull b{ color: #D80000;font-weight: normal;}
.pay_link{ text-decoration: underline;}
.pay_split{ margin-top: 10px;}
.pay_split a{ font-size: 14px; font-weight: bold;}
.pay_split .pay_tipnum{ position: relative;top: 0; left: 13px;display: inline-block;*display: inline;*zoom:1;}


/***/
@media screen and (max-width:1240px) {
.pay_wrap{width: 980px;}
} 
