/*== ==*/
.cui_nav, .cui_hd,.main_header_warp,.sale_main,.bottom_guarantee_wrap,.bottom_wrap{width:1180px;}
.bottom_wrap{margin:0 auto;}
.bottom_guarantee_wrap{margin:0 auto;}
.count_down span,.sale_header .sale_tag,.price_up_ico,.price_down_ico,.product_pic .tag{ background-image: url(http://pic.c-ctrip.com/vacation_v2/seckill_sale/sale_sprite.png);background-repeat:no-repeat; }
.sale_main{margin:0 auto;position:relative;min-height:600px;height:auto;_height:600px;}
.sale_main .col_main{padding-right:330px;}
.bg_miancolor{background:#f3f6f8}
.special_bg{background:url(http://pic.c-ctrip.com/vacation_v2/seckill_sale/zzz_sale_banner_bg.jpg) no-repeat top center #8c0000;padding-bottom:5px;margin-top:-54px;}
.sidebar{width:290px;position:absolute;top:0;right:0}
/**btn**/
.btn_detail{color:#fff;display:inline-block;background:#eb1437;border-radius:3px;font-size:26px;}
.btn_detail:hover{text-decoration:none;background:#d30225;}
.btn_detail{width:160px;height:52px;line-height:52px;text-align:center;}
.price_btn{display:block;height:50px;background:#ee0a30;border:1px solid #bd0b2a;color:#fff;border-radius:3px}
.price_btn:hover{text-decoration:none;background:#d30225}
/**top**/
.floor_box{height:340px}
.floor_info h2,.floor_info .price_sum{font-weight:normal;font-size:46px}
.floor_info h2{font-weight:bold;font-family: "Microsoft Yahei",simsun}
.pro_txt,.tag{font-family: "Microsoft Yahei",simsun}
.main_header_warp{z-index:2;position:relative;margin:0 auto;color:#fff;font:20px "Microsoft Yahei",simsun;font-weight:normal;}
.sale_header {position:relative;zoom:1;height:340px;margin:0 auto 30px }
.special_sale_header{height:399px;padding-bottom:40px;}
.main_banner {position:relative;height:340px;overflow:hidden;background: url(http://pic.c-ctrip.com/vacation_v2/sce_htl/banner_loop_bg.png?20140404.png) no-repeat center center #eee;max-width:1920px;margin:0 auto;}
.main_banner .banner_img{position:absolute;left:50%;margin-left:-960px;width:1920px;height:340px;text-align:center;}
.main_banner .banner_img img{height:340px;vertical-align:top;}
.floor_info .price_sum{line-height:52px;float:left;padding-right:20px;}
.floor_bg{background:#000;z-index:2;width:454px;height:254px;opacity:0.4;-moz-opacity:0.4;_filter:alpha(opacity=60);}
.floor_bg,.floor_info{position:absolute;}
.floor_info{z-index:3;padding:30px 35px 0;width:384px;}
.floor_info .price_sum dfn{vertical-align:10px;font-size:30px;}
.floor_info p{overflow:hidden;zoom:1;padding-bottom:30px;}
.count_down{position:absolute;bottom:25px;left:0;padding-left:35px;line-height:37px;}
.count_down i{font-size:16px;font-style:normal}
.count_down span{background-position:-156px -94px;display:inline-block;width:48px;height:37px;text-align:center;font:30px Tahoma;line-height:35px;}
.sale_header .sale_tag{position:absolute;right:0;top:0;width:146px;height:110px;text-align:center;font-size:16px;padding-top:40px}
.sale_header .sale_tag span{font-size:40px;}

/****/
.sale_top_search{background:#fff;margin-bottom:20px;}
.sale_top_search .tabs{border-bottom:2px solid #4da6ff;height:40px;}
.sale_top_search .tabs span{width:140px;height:40px;float:left;text-align:center;font:20px "Microsoft Yahei",simsun;cursor:pointer;line-height:40px;}
.sale_top_search .tabs span:hover{background:#dbedff;}
.sale_top_search .tabs span.cur,.sale_top_search .tabs span.cur:hover{background:#4da6ff;color:#fff;}
.sale_top_search{border-bottom:1px solid #e4e4e4;margin-top:5px;}
.sale_top_search dl{border-top:1px solid #eee;padding:5px 0 5px 105px;line-height:20px;margin-top:-1px}
.sale_top_search dt{width:50px;float:left;margin-left:-105px;width:90px;display:inline;color:#999;text-align:right;line-height:30px}
.sale_top_search dd{overflow:hidden;zoom:1;}
.sale_top_search dd span{float:left;padding:0 7px;height:19px;line-height:19px;cursor:pointer;margin:5px 0}
.sale_top_search dd span.cur{color:#fff;background:#4da6ff}
/**特卖须知**/
.sale_part{background:#fff;padding:10px 30px 20px;margin-bottom:65px;}
.sale_part dt{line-height:43px;font:24px "Microsoft Yahei",simsun;height:43px;border-bottom:1px solid #eee;margin-bottom:15px;}
.sale_part dt span{position:absolute;margin-top:1px;border-bottom:2px solid #4da6ff;line-height:43px;}
.sale_part dd p{padding-left:20px;line-height:25px;color:#666;}
.sale_part dd p .sum{margin-left:-20px;float:left;width:20px;display:inline;}
.special_sale_part{background:#620000;padding:0 30px 0 0;}
.special_sale_part dl{padding-left:212px;color:#fff;height:228px;overflow:hidden;}
.special_sale_part dl p{color:#fff}
.special_sale_part dd{padding-top:45px}
.special_sale_part  dt{border:none;width:108px;height:228px;text-align:center;font-size:46px;margin-left:-212px;float:left;display:inline;background:#540000;padding:0 35px;}
.special_sale_part  dt span{padding:50px 0 0;border:none;position:static;display:block;line-height:60px}
/*======= 六重保障 =======*/
.bottom_guarantee_wrap { clear: both; }
.bottom_guarantee{padding:20px 31px;border-bottom:1px solid #eaeaea;color:#858585; overflow: hidden;}
.bottom_guarantee dl{padding-left:70px;position:relative;float:left;margin-right:104px;display:inline;}
.bottom_guarantee dt{margin-bottom:10px;font:16px microsoft yahei;white-space:nowrap;}
.bottom_guarantee dt i{position:absolute;left:0;top:0;width:50px;height:50px;background:url(http://pic.c-ctrip.com/vacation_v1/icon_guarantee.png) no-repeat;overflow:hidden;}
.bottom_guarantee dd {line-height:22px;}
.bottom_guarantee dd a{color:#858585;}
.bottom_guarantee .security{width:230px;padding-left:60px;}
.bottom_guarantee .security i{background-position:0 0;}
.bottom_guarantee .security dd a{float:left;width:110px;}
.bottom_guarantee .security .special_instruct{color:#999;clear:both;}
.bottom_guarantee .standard{margin-right:0;}
.bottom_guarantee .help i{background-position:-50px 0}
.bottom_guarantee .guide i{background-position:-100px 0}
.bottom_guarantee .standard{padding-left:60px;}
.bottom_guarantee .standard i{background-position:-150px 0}

/**bottom seo**/
.bottom_seo { padding: 20px 0;}
.bottom_seo a,.bottom_seo2 a { color: #AAA; }
.bottom_seo p { color: #AAA;padding-bottom: 10px; }
.bottom_seo dl { padding-bottom:10px; }
.bottom_seo dt { overflow: hidden;color: #AAA; font-weight:bold; }
.bottom_seo dd a,.bottom_seo dd span,.bottom_seo2 dd a,.bottom_seo2 dd span { display: inline-block;margin-right: 6px; }
.bottom_seo dd span,.bottom_seo dd strong,.bottom_seo2 dd span,.bottom_seo2 dd strong { color: #AAA; font-weight: bold; }
.bottom_seo .map_link { float: right; }
.bottom_seo .booking_now { overflow: hidden; }
.bottom_seo .booking_now strong { color: #AAA;margin-right: 10px;float: left; }
.bottom_seo .booking_now span { color: #AAA;display: inline-block;margin-right: 20px;line-height: 18px; }
.bottom_seo .booking_info_box { float: left;white-space: nowrap;width: 1118px;overflow: hidden; }
.bottom_seo2 {padding-bottom:20px;}
/**page**/
.pkg_page {text-align:center; font-size: 14px; height: 38px; padding: 10px 0 50px;}
.pkg_page a {display: inline-block; float:none; width: 36px; padding: 0; height:36px; line-height: 36px; vertical-align: middle;}
.pkg_page a.up {*height:26px; position: relative;}
.pkg_page .up b {position: absolute; left:17px; top:13px;}
.pkg_page a.down {_height:26px; *line-height: 40px; _line-height: 26px; position: relative;}
.pkg_page_ellipsis {display: inline-block; float:none;}
.pkg_pagevalue {display: inline-block; float:none; height:40px;vertical-align: middle;}
.pkg_page .down {font-size: 12px; padding-right:10px;}
.pkg_page .down b {position: absolute; right:9px; top:13px;}
.pkg_pagevalue .pkg_page_num {width: 36px;height: 29px; line-height: 29px;}
.pkg_page_submit {display: inline-block; width: 60px;height: 38px; line-height: 38px;font-size: 12px; color:#0065bb;}
/****/
.side_ad{margin-bottom:10px;width:100%;overflow:hidden;}
.qr_code{border:15px solid #e3effc;padding:20px 0;text-align:center;font-size:16px;color:#666;font-family:"Microsoft Yahei",simsun;}
.qr_code .top_txt{font-size:24px;color:#4da6ff;padding-bottom:20px}
.qr_code .bt_txt{padding-top:5px;}
/**产品列表**/
.product_box{margin-bottom:20px;}
.product_box .tabs{overflow:hidden;zoom:1;margin-bottom:10px}
.product_box .tabs a{width:124px;padding:10px 0;height:13px;line-height:13px;text-align:center;border:1px solid #fff;border-top:1px solid #f3f6f8;border-bottom:1px solid #e2e2e3;float:left;background:#fff;float:left;border-left:1px solid #e2e3e3;margin-left:-1px;cursor:pointer;color:#333;padding-left:1px;overflow:hidden;}
.product_box .tabs a:hover{text-decoration:none;}
.price_up_ico,.price_down_ico{width:9px;height:12px;display:inline-block;vertical-align:middle;margin-left:10px;overflow:hidden;}
.price_up_ico{background-position:-214px -121px;}
.price_down_ico{background-position:-229px -121px;}
.product_box .tabs a.cur .price_down_ico{background-position:-229px -108px}
.product_box .tabs a.cur .price_up_ico{background-position:-214px -108px;}
.product_box .tabs a:hover .price_down_ico{background-position:-229px -94px;}
.product_box .tabs .cur .price_up_ico{background-position:-214px -94px;}

.product_box .tabs .cur:hover .price_up_ico,.product_box .tabs a:hover .price_up_ico{background-position:-214px -94px;}
.product_box .tabs a.cur{border:1px solid #e2e3e3;color:#ff8000;}
.product_box .tabs a:hover{color:#49a4ff;border:1px solid #49a4ff;position:relative;margin-left:0;padding-left:0}
.product_list li{padding:0;height:210px;background:#fff;margin-bottom:20px;}
.product_list li .product_pic{float:left;display:inline;width:400px;height:210px;position:relative;overflow:hidden;}
.product_list li .product_pic img{width:400px;height:210px;}
.product_list li .product_pic .tag{background-position:-156px 0;width:87px;height:78px;position:absolute;left:0;top:0;text-align:center;line-height:30px}
.product_list li .product_pic .tag p{font-size:16px;color:#fff;}
.product_list li .product_pic .tag_group{background:#e12111}
.product_list li .product_pic .tag_zyx{background:#ff6f31}
.product_list li .product_pic .tag .discount{color:#e41d00;}
.product_list li .product_pic .tag .discount span{font-size:30px;font-family:Tahoma,Arial,Simsun, sans-serif;font-weight:bold;}
.product_list li .product_detial{overflow:hidden;zoom:1;float:left;width:413px;padding:15px 20px 0 15px;height:194px;border:1px solid #eee;border-bottom:1px solid #e2e2e2}
.product_list li .product_detial h3{font:20px "Microsoft Yahei",simsun;padding-bottom:15px}
.product_list li .product_detial h3 a{color:#333;}
.product_list li .pro_txt{padding-right:187px;line-height:26px;color:#666;font-size:14px;position:relative;overflow:hidden;zoom:1;}
.special_product_list li .pro_txt{line-height:24px;}

.product_list li .pro_txt .date_txt span{color:#ff9900;}
.product_list li .pro_txt .right_btn{position:absolute;right:0;top:20px;width:153px;text-align:center;}
.product_list li .pro_txt .right_btn p{height:30px;line-height:30px;background:#fff9e8;color:#7e4b19;}
.product_list li .pro_txt .price_btn dfn{vertical-align:18px;}
.special_product_list{overflow:hidden;zoom:1;}
.special_product_list ul{margin-right:-20px;zoom:1;}
.special_product_list li{ float:left;border:none;width:580px;height:240px;margin-right:20px;overflow:hidden;zoom:1;padding-right:0}
.special_product_list li .product_pic{width:240px;height:240px;float:left;display:inline;}
.special_product_list li .product_pic img{margin-left:-90px;width:500px;height:240px}
.special_product_list li .pro_txt{padding-right:0}
.special_product_list li .pro_txt .right_btn{position:static;width:315px;padding-top:10px;top:10px}
.special_product_list li .pro_txt .right_btn p{width:124px;height:52px;line-height:52px;float:left;}
.special_product_list li .pro_txt .right_btn .price_btn{width:180px;float:left;}
.special_product_list li .product_detial h3{font-size:18px;padding-bottom:5px;}
.special_product_list li .product_detial{overflow:hidden;zoom:1;float:left;width:313px;height:223px;padding:15px 10px 0 15px}
.price_btn span{font:40px Tahoma,Arial,Simsun, sans-serif;font-weight:bold;margin-right:10px;}

@media (max-width: 1240px), (max-device-width: 1240px){
html{ min-width:980px;}
.cui_nav,.cui_hd,.main_header_warp,.sale_main,.bottom_guarantee_wrap,.bottom_wrap{width:980px;}
.bottom_guarantee dl { margin-right: 50px; }
.bottom_seo .booking_info_box { width: 918px; }
.hot_search_box{width: 359px;}
.bottom_seo{padding: 20px 10px;}
.bottom_seo2{padding: 0 10px 20px;}
.sidebar{width:250px}
.side_ad img{margin-left:-20px;}
.sale_main .col_main{padding-right:280px;}
.product_list li .product_pic{width:240px;}
.product_list li .product_pic img{margin-left:-80px;}
/****/
.special_product_list li{padding:0;width:480px;height:428px;}
.special_product_list li .product_pic{width:100%;height:230px}
.special_product_list li .product_pic img{width:480px;height:230px;margin-left:0}
.special_product_list li .product_detial{padding:15px 20px 0;width:440px}
.special_product_list li .pro_txt .right_btn{position:absolute;right:10px;top:0;width:180px;}
.special_product_list li .pro_txt .right_btn p{height:30px;line-height:30px;}
.special_product_list li .pro_txt .right_btn .price_btn,.special_product_list li .pro_txt .right_btn p,.special_product_list li .pro_txt{width:100%;float:none;}
.special_product_list li .product_detial h3{font-size:20px;padding-bottom:10px}
/**page**/
.pkg_page{height:26px;padding: 10px 0;}
.pkg_page a {float:left;width:24px;padding:3px 0 3px 0;color:#0065bb;border:1px solid #ccc;margin-right:3px;height:21px;line-height:21px;}
.pkg_pagevalue .pkg_page_num{height:18px;line-height:18px;}
.pkg_page_submit{height:24px;line-height:24px}
.pkg_page .down b,.pkg_page .up b{top:8px;}
.pkg_page .up b{left:10px;}
.pkg_pagevalue{margin-left:10px;}
}



