@charset "utf-8";
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, em, button { margin:0; padding:0; }
html { background-color:#FFF; }
body { background-color:#FFF; font-size:12px; line-height:1.5; font-family:Tahoma,Simsun,sans-serif; color:#333; }
img, fieldset { margin:0; padding:0; border:0; }
input, textarea {font-size:12px;}
table { border-collapse:collapse; }
a { color:#0065bb; text-decoration:none; outline:none; }
a:hover { text-decoration:underline; }
h1, h2, h3, h4, h5 { font-family:Arial,Simsun,sans-serif; }
ul li, ol li { list-style:none; }
dfn { font-style:normal; font-size:12px; font-family:Arial !important; }
select { padding:1px; font-family:Arial,Simsun,sans-serif; border:1px solid #CCC; background-color:#FFF; }
input[type="text"],input[type="number"] { padding:3px; border:solid 1px #CCC; box-shadow: 1px 1px 3px #DDDDDD inset; }
input[type="text"]:focus,input[type="number"]:focus{ background-color:#f1f9ff; border-color:#5d9de5 #67a1e2 #67a1e2 #5d9de5; border-style:solid; border-width:1px;box-shadow: 1px 1px 3px #d0dee6 inset;}
.basefix,.layoutfix { *zoom:1; }
.basefix:after,.layoutfix:after { clear:both; content:'.'; display:block; height:0; overflow:hidden; }
.float_left { float:left !important; }
.float_right { float:right !important; }
.invisible { visibility:hidden !important; }
.hidden { display:none !important; }
.border_none { border:0 none !important; }
.base_price { font-style:normal; font-family: arial; text-decoration:none; }
.base_price dfn { font-family: Arial, Simsun; font-size: 12px; }
.base_price strong {font-family:Verdana;}
.input_error {background-color: #FFF7D9 !important;border-color: #D80000 #E50000 #E50000 #D80000 !important;border-style: solid;}
.input_default { color:#808080 !important; }
.inputSel{ color:#808080;}
/* labels&it's input */
.base_label { _padding-bottom: 1px; *display: inline-block; border-bottom:1px solid transparent; _border-bottom:none; _font-family:Simsun; cursor: pointer; }
.base_label:hover { border-bottom: 1px dashed #aaa; }
.base_label input { margin: -4px 3px 0 0; *margin-top: -2px; width: 12px; height: 12px; overflow:hidden; border: none; font-family:Arial; vertical-align: middle; }
/* alert */
.c_alert { padding-left:7px; background: url(http://pic.c-ctrip.com/common/bg_alertinfo.gif) no-repeat 0 -8px; overflow:hidden; }
.c_alertinfo { padding:4px 5px 4px 8px; border:1px solid #ffb533; border-left:0; color:#333;font-size:12px;line-height:20px;background-color:#fff5d1; }

/**bottom_advantage**/
.bottom_advantage_wrap{background-color:#3D95C9;height:80px;padding:30px 0;min-width:1000px;}
.bottom_advantage{width:980px;margin:0 auto;overflow:hidden;}
.bottom_advantage dl{padding-left:80px;float:left;height:80px;border-right:1px dotted #77B5D9;float:left;overflow:hidden;position:relative;}
.bottom_advantage dt{color:#fff;font:16px microsoft yahei;width:100%;float:left;padding-bottom:3px;}
.bottom_advantage dt i{position:absolute;background-color:#3D95C9;}
.bottom_advantage dd{float:left;width:115px;}
.bottom_advantage dd a{color:#fff;}
.bottom_advantage .special_instruct{width:100%;padding-top:2px;color:#9ac7e2;}
.bottom_advantage .security{width:366px;}
.bottom_advantage .security dt i,.bottom_advantage .help dt i,.bottom_advantage .guide dt i{ background:url(http://pic.c-ctrip.com/vacation_v1/un_base_common.png?20131118.png) no-repeat;}
.bottom_advantage .security dt i{width:39px;height:42px;background-position:0 -185px;left:25px;}
.bottom_advantage .help{width:230px;}
.bottom_advantage .help dt i{width:47px;height:42px;background-position:-40px -185px;left:19px;top:4px;}
.bottom_advantage .guide{width:142px;border:0 none;}
.bottom_advantage .guide dt i{width:44px;height:39px;background-position:-88px -185px;left:22px;top:4px;}
/* small page */
/*=== 进度条 S ===*/
.tri{position:relative;height:22px;padding-left:11px;margin-left:-11px;background:url(http://pic.c-ctrip.com/vacation_v1/bg_process_step02.png) no-repeat left -88px;}
.con{height:22px;padding-right:11px;line-height:22px;text-align:center;color:#b9b9b9;background:url(http://pic.c-ctrip.com/vacation_v1/bg_process_step02.png) repeat-x 0 -44px;}
.step1, .step2, .step3, .step4, .step5, .step6, .step7{width:978px;margin:10px auto;border:1px solid #ccc;}
.step_table{table-layout:fixed; width:100%; }
.step1 .first .con, .step2 .second .con, .step3 .third .con, .step4 .fourth .con, .step5 .fif th .con, .step6 .sixth .con, .step7 .seventh .con{background-position:0 0;font-weight:bold;color:#fff;}
.step1 .first .tri, .step2 .second .tri, .step3 .third .tri, .step4 .fourth .tri, .step5 .fifth .tri, .step6 .sixth .tri, .step7 .seventh .tri{background-position:left -66px;}
.step2 .first .con, .step3 .first .con, .step3 .second .con, .step4 .first .con, .step4 .second .con, .step4 .third .con, .step5 .first .con, .step5 .second .con, .step5 .third .con, .step5 .fourth .con, .step6 .first .con, .step6 .second .con, .step6 .third .con, .step6 .fourth .con, .step6 .fifth .con, .step7 .first .con, .step7 .second .con, .step7 .third .con, .step7 .fourth .con, .step7 .fifth .con, .step7 .sixth .con{background-position:left -22px;color:#333;}
.step2 .first .tri, .step3 .first .tri, .step3 .second .tri, .step4 .first .tri, .step4 .second .tri, .step4 .third .tri, .step5 .first .tri, .step5 .second .tri, .step5 .third .tri, .step5 .fourth .tri, .step6 .first .tri, .step6 .second .tri, .step6 .third .tri, .step6 .fourth .tri, .step6 .fifth .tri, .step7 .first .tri, .step7 .second .tri, .step7 .third .tri, .step7 .fourth .tri, .step7 .fifth .tri, .step7 .sixth .tri{background-position:left -110px;}
/*=== 进度条 e ===*/
/*****小分页 开始*****/
.search_sort .float_right { margin:12px 10px 0 0; color:#808080; _display:inline; }
.btn_hotels_search { width:50px; height:22px; background:url(http://pic.c-ctrip.com/packages111012/un_detail_btn.png?120206.png) no-repeat -160px -44px; border:none; cursor:pointer; }
.c_page2_pre, .c_page2_next, .c_page2_pre_dis, .c_page2_next_dis { height:18px; float:left;  background:url(http://pic.c-ctrip.com/vacation_v1/un_base_common.png?20131118.png) no-repeat; background-color:#fff; color:#808080; }
.c_page2_pre, .c_page2_pre_dis { width:18px; background-position:-14px 5px; text-indent:-999em; overflow:hidden; }
.c_page2_next, .c_page2_next_dis { padding-left:3px; background-position:50px 5px; width:57px; text-align:left; }
.c_page2_pre, .c_page2_next{ border:1px solid #ccc;}
.c_page2_pre:hover, .c_page2_next:hover { color:#666; text-decoration:none; border:1px solid #808080;}
.c_page2_pre:hover { background-position:-14px -22px; }
.c_page2_next:hover { background-position:50px -22px; }
.c_page2_pre, .c_page2_pre_dis, .c_page2_pre:hover{ margin-right:1px;}
.c_page2_pre_dis, .c_page2_next_dis { color:#e6e6e6; cursor:default; border:1px solid #f1f1f1;}
.c_page2_pre_dis:hover, .c_page2_next_dis:hover { text-decoration:none; color:#e6e6e6;border:1px solid #f1f1f1; }
.c_page2_pre_dis { background-position:-14px -49px; }
.c_page2_next_dis { background-position:50px -49px; }
.c_page2_numtop { float:left; margin:2px 5px 0 0; }
/*****小分页 结束******/
/* big page=s*/
.sr_page { padding:0 10px; }
/* page */
.c_page { height:26px; padding:10px 0; color:#666; font: 12px/2 Arial; *float:right; }
.c_page a{ border-radius: 2px;}
.c_page_list, .c_up, .c_down, .c_pagevalue, .c_up_nocurrent, .c_down_nocurrent {  display:inline-block; vertical-align:middle; *float:left; }
.c_up, .c_down, .c_up_nocurrent, .c_down_nocurrent{ background-image:url(http://pic.c-ctrip.com/common/un_vacation_page.png); }
.c_up, .c_down, .c_up_nocurrent, .c_down_nocurrent { width:25px; height:0; overflow:hidden; padding:23px 0 0; border:0; background-position:0 -50px; }
.c_up { margin-right:10px; border: solid 1px #cccccc; background-position: -105px 0; }
.c_up:hover {background-color: #bcddf9; background-position:-105px -25px; text-decoration:none; }
.c_down { width:70px; margin-left:1px; border: solid 1px #ccc; background-position:-41px 0; }
.c_down:hover { background-color: #bcddf9; background-position:-41px -25px; }
.c_page_list { margin-right:10px; }
.c_page_list a, .c_page_list .c_page_ellipsis { float:left; }
.c_page_list a, .c_page_submit { height:23px; margin:0 1px; padding:0 8px; border:solid 1px #bfbdbd; background-color: #fafafa;  font-weight:bold; color:#666; text-decoration:none; overflow:hidden; }
.c_page_list a:hover, .c_page_submit:hover { background-color: #bcddf9; color: #fff; text-decoration:none; border-color: #9fbdd7; }
.c_page_list .c_page_ellipsis { margin:0 3px; }
.c_page_list .current, .c_page_list .current:hover {background-color: #77bcf7; cursor:default; border-color:#5295c5;  color: #fff;}
.c_up_nocurrent, .c_up_nocurrent:hover { margin-right:10px; border: solid 1px #ccc; background-position: -106px -50px; color:#666; cursor:default; }
.c_down_nocurrent, .c_down_nocurrent:hover { width:70px; border: solid 1px #ccc; background-position: -41px -50px; cursor:default; }
.c_pagevalue { margin-left:20px; }
.c_pagevalue .c_page_num { width:25px; height:14px; padding:3px; border:1px solid #ccc; margin:0 4px; }
.c_page_submit { width: 40px; margin-left:10px; font-weight:normal; cursor: pointer; line-height:22px; *padding:0 8px 0 6px;}

/********************************New Index**********************************/
.vacation_nav,.hot_destination h2.current,.hot_destination h2.current i,.destination_detail dt .arrow,.right_unfold .close,.month_destination h4 .more,.visa_btn input,.search_box .search_btn,.search_box .advance_search,.search_box .input_notice,.destination_detail h3 .more,.start_city h2,.advance_box .search,.advance_box .close,.destination_box .eurail_detail .eurail_search,.start_city h2 i,.destination_select h2,.destination_select h2 i,.search_box_wrap,.to_top,.destination_detail .local_detail dt,.destination_detail .cruise_detail dt,.destination_detail h4,.more i {background-image:url(http://pic.c-ctrip.com/vacation_v1/un_channel.png);background-repeat:no-repeat;}
/**crumbs**/
.crumbs {color: #999999;font-family: verdana,simsun;}
/**to_top**/
.to_top {position:fixed;height:0;width:30px;right:0;bottom:5%;overflow:hidden;padding-top:30px;background-position:-252px -115px;z-index:50;overflow:hidden;_position:absolute;}
.to_top:hover {background-position:-222px -115px;}
/**SEO**/
.bottom_linkbox dt .web_map{float:right;font-weight:normal;margin:0;}
.bottom_linkbox dt .web_map:hover{border:0 none;color:#0082C6;text-decoration:underline;}
.bottom_linkbox dt { margin:0 10px; border-bottom:1px solid #E7E7E7;}
.bottom_linkbox dt a { margin-right:20px; line-height:30px; cursor:pointer; display:block; color:#999; font-weight:bold; height:30px; float:left; position:relative; margin-bottom:-1px;}
.bottom_linkbox dt .current { border-bottom:1px solid #0082C6; }
.bottom_linkbox dt a:hover { border-bottom:1px solid #0082C6; text-decoration:none; }
.bottom_linkbox dd { padding:5px 10px; line-height:18px;}
.bottom_linkbox dd a { color:#999; margin-right:8px; display:inline-block;}
.bottom_linkbox dd a:hover { color:#0082C6; }
.bottom_linkbox .hidden { display:none; }
.bottom_linkbox .bold{ font-weight:bold;color:#999;margin-right:15px;}
.seo_box{margin:10px auto;width:980px;border:1px solid #EAEAEA;}
.seo_box p a {color:#999;}
.seo_box p a:hover {color:#0082c6;}
/**SEO-20130606**/
.bottom_linkModule dt .web_map{float:right;font-weight:normal;margin:0;}
.bottom_linkModule dt .web_map:hover{border:0 none;color:#0082C6;text-decoration:underline;}
.bottom_linkModule dt { margin:0 20px; line-height:24px; border-bottom:1px solid #E7E7E7;}
.bottom_linkModule dt span {font-weight:bold;color:#999;}
.bottom_linkModule dt a {color:#999;}
.bottom_linkModule dd { padding:5px 20px; line-height:18px;}
.bottom_linkModule dd a {color:#999; margin-right:8px; display:inline-block;}
.bottom_linkModule dd a:hover { color:#0082C6; }
.bottom_linkModule .hidden { display:none; }
.bottom_linkModule .bold{ font-weight:bold;color:#999;margin-right:15px;}
.seo_box{margin:10px auto;width:980px;border:1px solid #EAEAEA;padding:15px 0px 10px;}
.seo_box p {color:#999;padding:0 20px 5px;}
/**AD**/
.ad_bottom { width:980px; margin:0 auto 20px; font-size:0; height:86px; overflow:hidden; white-space:nowrap;}
.ad_bottom a {display:inline-block; width:311px; height:86px; margin-right:23px; overflow:hidden; }
.ad_bottom a img {width:311px;height:86px;}
/**base_alert pop**/
.base_alert {position: absolute;z-index: 999;}
.base_alert .alert_info {background-color:#FFF5D1;border:1px solid #FFB533;padding:3px;}
.base_alert b,.base_alert i{position:absolute;height:0;width:0;line-height:0;font-size:0;border-left:0 none;top:8px;}
.base_alert b{border-right:5px solid #FFB533;border-top:5px dashed transparent;border-bottom:5px dashed transparent;left:-5px;}
.base_alert i{border-right:5px solid #FFF5D1;border-top:5px dashed transparent;border-bottom:5px dashed transparent;left:-4px;}

/****20130902liuff**翻页=s******/
.pkg_page{height: 26px; padding: 10px 0; }
.pkg_page a{ float: left; width: 24px; padding: 3px 0 3px 0; text-align: center;color: #0065bb; border:1px solid #ccc; background-color: #fff; margin-right:3px; }
.pkg_page a:hover{ text-decoration: none; color: #0065bb;border:1px solid #3da0e7;}
.pkg_page .current,.pkg_page .current:hover{ color: #fff;border:1px solid #3da0e7; background-color: #64bbfa; font-weight: bold;}
.pkg_page_ellipsis{float: left; margin:0 6px 0 3px;}
.pkg_page .up{ margin-right:10px; *padding: 5px 0 4px 0;}
.pkg_page .down{ margin-left:10px;width: 62px; _padding: 5px 0 3px 0;}
.pkg_page .up b,.pkg_page .down b{ display: inline-block; width: 0; height: 0; line-height:0;  vertical-align:-2px;*vertical-align:-4px;}
.pkg_page .up b{ border-width: 6px 6px 6px 0; border-style: dashed solid dashed dashed; border-color: transparent #0065bb transparent transparent; margin-left:-2px; }
.pkg_page .down b{ border-width: 6px 0 6px 6px; border-style: dashed dashed dashed solid; border-color: transparent transparent transparent #0065bb; margin-left:6px;}
.pkg_page .up_nocurrent,.pkg_page .up_nocurrent:hover,.pkg_page .down_nocurrent,.pkg_page .down_nocurrent:hover{cursor: default; border:1px solid #ccc;color: #ccc;}
.pkg_page .up_nocurrent b,.pkg_page .up_nocurrent:hover b{ border-color: transparent #ccc transparent transparent;}
.pkg_page .down_nocurrent b,.pkg_page .down_nocurrent:hover b{border-color: transparent transparent transparent #ccc; }

.pkg_pagevalue { float: left; margin-left:20px; height: 26px; line-height: 26px; }
.pkg_pagevalue .pkg_page_num { width:25px; height:14px; padding:3px; border:1px solid #ccc; margin:0 4px;}
.pkg_page_submit { width: 40px; margin-left:10px; font-weight:normal; cursor: pointer; height: 24px; line-height:24px;border:1px solid #ccc; background-color: #fff; }
.pkg_page_submit:hover{ border:1px solid #3da0e7;}
/******翻页=e******/
/******进度条=s******/
.progress_bar { width: 100%; *zoom:1;padding: 30px 0 10px; }
.progress_bar:after { clear:both; content:'.'; display:block; height:0; overflow:hidden; }
.progress_bar li { float: left; width: 25%;border-top: 6px solid #D7D7D7; text-align: center;color: #999999;position: relative;line-height: 42px; }
.progress_bar li i {position: absolute; left: 50%; margin-left: -10px;top:-13px; height: 20px;width: 20px;background: url(http://pic.c-ctrip.com/vacation_v1/un_base_common.png?20131118.png) -64px 0 no-repeat; }
.progress_bar .complete { color: #FF9813;border-top: 6px solid #FF9813; }
.progress_bar .complete i { background-position: -36px 0 ; }
/******进度条=e******/
/****************按钮=s****************/
/****red按钮common=s****/
input.btn_red_big,input.btn_red_middle,input.btn_red_small,input.btn_blue_big,input.btn_blue_middle,input.btn_blue_small,input.btn_big_disabled,input.btn_middle_disabled, input.btn_small_disabled,input.btn_proess_big,input.btn_proess_big:hover,input.btn_proess_big_disabled,input.btn_normal,input.btn_normal_disabled,input.btn_proess_big_disabled:hover
{*overflow:visible;line-height:normal;}
.btn_red_big,
.btn_red_middle,
.btn_red_small{
	display: inline-block;
	background-color: #fb9125;
	background-image: -webkit-linear-gradient(top, #fb9125, #fa8721);
	background-image: -moz-linear-gradient(top, #fb9125, #fa8721);
	background-image: -ms-linear-gradient(top, #fb9125, #fa8721);
	background-image: -o-linear-gradient(top, #fb9125, #fa8721);
	background-image: linear-gradient(top, #fb9125, #fa8721);	
	color: #fff;
	border-radius: 3px;
	text-align: center;
	border: 1px solid #e08821;
	-webkit-box-shadow: inset 0 1px 0 0 #fcad5c;
	box-shadow: inset 0 1px 0 0 #fcad5c;

}
.btn_red_big:hover,
.btn_red_middle:hover,
.btn_red_small:hover{
	background-color: #fd7b2b;
	background-image: -webkit-linear-gradient(top, #fd802c, #fd6f29);
	background-image: -moz-linear-gradient(top, #fd802c, #fd6f29);
	background-image: -ms-linear-gradient(top, #fd802c, #fd6f29);
	background-image: -o-linear-gradient(top, #fd802c, #fd6f29);
	background-image: linear-gradient(top, #fd802c, #fd6f29);
	border: 1px solid #fc6621;
	-webkit-box-shadow: inset 0 1px 0 0 #fea161;
	box-shadow: inset 0 1px 0 0 #fea161;
	cursor: pointer;
	text-decoration: none;

}
/****red按钮common=e****/
/****blue按钮common=s****/
.btn_blue_big, 
.btn_blue_middle,
.btn_blue_small{
	display: inline-block;
	background-color: #39a7ee;
	background-image: -webkit-linear-gradient(top, #40a8eb, #3ba0e6);
	background-image: -moz-linear-gradient(top, #40a8eb, #3ba0e6);
	background-image: -ms-linear-gradient(top, #40a8eb, #3ba0e6);
	background-image: -o-linear-gradient(top, #40a8eb, #3ba0e6);
	background-image: linear-gradient(top, #40a8eb, #3ba0e6);	
	color: #fff;
	border-radius: 3px;
	text-align: center;
	border: 1px solid #2a93d5;
	-webkit-box-shadow: inset 0 1px 0 0 #70bef0;
	box-shadow: inset 0 1px 0 0 #70bef0;

}
.btn_blue_big:hover,
.btn_blue_middle:hover,
.btn_blue_small:hover{
	background-color: #1d8fd9;
	background-image: -webkit-linear-gradient(top, #2790d6, #2388ce);
	background-image: -moz-linear-gradient(top, #2790d6, #2388ce);
	background-image: -ms-linear-gradient(top, #2790d6, #2388ce);
	background-image: -o-linear-gradient(top, #2790d6, #2388ce);
	background-image: linear-gradient(top, #2790d6, #2388ce);
	border: 1px solid #2183c3;
	-webkit-box-shadow: inset 0 1px 0 0 #5dace0;
	box-shadow: inset 0 1px 0 0 #5dace0;
	cursor: pointer;
	text-decoration: none;

}
/****blue按钮common=e****/
/****gray按钮common=s****/
.btn_big_disabled,.btn_big_disabled:hover,
.btn_middle_disabled, .btn_middle_disabled:hover, 
.btn_small_disabled,.btn_small_disabled:hover{
	display: inline-block; 
	background-color: #e7e7e7;
	background-image: -webkit-linear-gradient(top, #e9e9e9, #e6e6e6);
	background-image: -moz-linear-gradient(top, #e9e9e9, #e6e6e6);
	background-image: -ms-linear-gradient(top, #e9e9e9, #e6e6e6);
	background-image: -o-linear-gradient(top, #e9e9e9, #e6e6e6);
	background-image: linear-gradient(top, #e9e9e9, #e6e6e6);
	border: 1px solid #d6d6d6;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 0 #efefef;
	box-shadow: inset 0 1px 0 0 #efefef;
	color: #aaa;
	text-align: center;
	cursor: default;
	text-decoration: none;
	text-shadow:1px 1px #fff;
}
/****gray按钮common=e****/
/****按钮私有=s****/
.btn_red_big,
.btn_blue_big,
.btn_big_disabled {height:40px; padding: 0 40px;font: 18px/40px 'microsoft yahei',simsun,sans-serif;}

.btn_red_middle,
.btn_blue_middle,
.btn_middle_disabled {height:34px; padding: 0 18px;font: 16px/34px 'microsoft yahei',simsun,sans-serif;}

.btn_red_small,
.btn_blue_small,
.btn_small_disabled {height:22px; padding: 0 14px;font: 12px/22px 'microsoft yahei',simsun,sans-serif;}
/****按钮私有=e****/
/****流程页按钮私有=s****/
.btn_proess_big,.btn_proess_big:hover,.btn_proess_big_disabled,.btn_proess_big_disabled:hover{height:56px; padding: 0 10px;font: 20px/56px 'microsoft yahei',simsun,sans-serif;}
.btn_proess_big{
	display: inline-block;
	background-color: #fb9125;
	background-image: -webkit-linear-gradient(top, #fb9125, #fa8721);
	background-image: -moz-linear-gradient(top, #fb9125, #fa8721);
	background-image: -ms-linear-gradient(top, #fb9125, #fa8721);
	background-image: -o-linear-gradient(top, #fb9125, #fa8721);
	background-image: linear-gradient(top, #fb9125, #fa8721);	
	color: #fff;
	text-align: center;
	border: 1px solid #e08821;
	-webkit-box-shadow: inset 0 1px 0 0 #fcad5c;
	box-shadow: inset 0 1px 0 0 #fcad5c;
}
.btn_proess_big:hover{
	background-color: #fd7b2b;
	background-image: -webkit-linear-gradient(top, #fd802c, #fd6f29);
	background-image: -moz-linear-gradient(top, #fd802c, #fd6f29);
	background-image: -ms-linear-gradient(top, #fd802c, #fd6f29);
	background-image: -o-linear-gradient(top, #fd802c, #fd6f29);
	background-image: linear-gradient(top, #fd802c, #fd6f29);
	border: 1px solid #fc6621;
	-webkit-box-shadow: inset 0 1px 0 0 #fea161;
	box-shadow: inset 0 1px 0 0 #fea161;
	cursor: pointer;
	text-decoration: none;
}
.btn_proess_big_disabled,.btn_proess_big_disabled:hover{
	display: inline-block; 
	background-color: #e7e7e7;
	background-image: -webkit-linear-gradient(top, #e9e9e9, #e6e6e6);
	background-image: -moz-linear-gradient(top, #e9e9e9, #e6e6e6);
	background-image: -ms-linear-gradient(top, #e9e9e9, #e6e6e6);
	background-image: -o-linear-gradient(top, #e9e9e9, #e6e6e6);
	background-image: linear-gradient(top, #e9e9e9, #e6e6e6);
	border: 1px solid #d6d6d6;
	-webkit-box-shadow: inset 0 1px 0 0 #efefef;
	box-shadow: inset 0 1px 0 0 #efefef;
	color: #aaa;
	text-align: center;
	cursor: default;
	text-decoration: none;
	text-shadow:1px 1px #fff;

 }
/****流程页按钮私有=e****/
/****normal按钮私有=s****/
.btn_normal,.btn_normal_disabled{ display: inline-block; height: 24px; padding: 0 10px; font: 12px/24px simsun,sans-serif; border-radius: 2px; text-align: center;}
.btn_normal{color: #fff; color: #333333; border: 1px solid #bbbbbb; background-color: #f8f8f8; cursor: pointer;}
.btn_normal:hover{color: #0065bb;text-decoration: none;}
.btn_normal_disabled,.btn_normal_disabled:hover{color: #aaa; border: 1px solid #d6d6d6; background-color: #e7e7e7;  text-decoration: none;text-shadow:1px 1px #fff;}
/****normal按钮私有=e****/
/************按钮=e************/
/******=s 产品类型******/
.function_label{ position: fixed; top:50%; right: 0; text-align: right;z-index:99;}
.function_label .disable .label_list_coentent{ display: none;}
.label_list1,.label_list2,.label_list3,.label_list4,.label_route,.label_list1:hover,.label_list2:hover,.label_list3:hover,.label_list4:hover,.label_route:hover{position: relative; width: 45px;height: 45px; background-image: url(http://pic.c-ctrip.com/vacation_v1/un_base_common.png?20131118.png);background-repeat: no-repeat; margin-bottom: 2px; *cursor: pointer;}
.label_list1{ background-position: 0 -70px; height: 55px;}
.label_list2{ background-position: -48px -80px;}
.label_list3{ background-position: -96px -80px;}
.label_list4{ background-position: -144px -80px;}
.label_route{ background-position: -96px -13px; height: 64px;margin-bottom: 26px;}
.label_route:hover{ margin-bottom: 26px; }

.label_list1:hover,.label_list2:hover,.label_list3:hover,.label_list4:hover,.label_route{ cursor: pointer;}
.label_list1:hover{ background-position: 0 -127px;height: 55px;}
.label_list2:hover,.function_label .current{ background-position: -48px -137px;}
.label_list3:hover{ background-position: -96px -137px;}
.label_list4:hover{ background-position: -144px -137px;}
.label_route:hover{ background-position: -144px -13px; height: 64px;}


.label_list_coentent{ position: absolute; z-index: 999; left: -173px; background-color: #ffae00; padding:8px 0 7px 10px; border-radius: 3px 0 0 3px;}

.label_xl,.label_hh,.label_rr,.label_xx,.label_yj{ float: left; width: 30px;height: 30px;background-image: url(http://pic.c-ctrip.com/vacation_v1/bg_function_icon.png); background-repeat: no-repeat; margin-right: 3px;}
.label_xl{ background-position: 0 0;}
.label_hh{background-position: -31px 0;}
.label_rr{background-position: -62px 0;}
.label_xx{background-position: -93px 0;}
.label_yj{background-position: -124px 0;}
/******=e 产品类型******/
/******=s 蒙版******/
.base_masking{background-color: #fff; border: 1px solid #b1daf5;}
.base_masking h2{ font-size: 14px; background: url(http://pic.c-ctrip.com/vacation_v1/un_base_common.png?20131118.png) 0 -230px repeat-x; height: 35px; line-height: 35px; color: #fff; padding:0 10px 0 18px;}
.base_masking h2 a{ float: right; width: 14px; height: 14px; background: url(http://pic.c-ctrip.com/vacation_v1/un_base_common.png?20131118.png) -36px -24px no-repeat; margin-top:8px;  }
.base_masking h2 a:hover{ background-position: -36px -42px; text-decoration: none;}
.masking_padding{ padding: 15px;}
/******=e 蒙版******/
/**bottom seo**/
.bottom_seo2 a { color: #999; }
.bottom_seo2 dd a,.bottom_seo2 dd span { display: inline-block;margin-right: 6px; }
.bottom_seo2 dd span,.bottom_seo2 dd strong { color: #999; font-weight: bold; }
.bottom_seo2 { padding-bottom: 20px;padding: 10px;border: 1px solid #EAEAEA;margin: 20px auto; }
/**在线客服弹出层**/
.line_cus_pop{ position:relative;width:43px;height:0}
.line_cus_pop .cus_ser_con{padding:54px 20px 0 10px;text-align:left;width:134px;height:80px;background:url(http://pic.c-ctrip.com/vacation_v1/line_cus.png);top:-107px;right:45px;position:absolute;}
.line_cus_pop .cus_ser_con a{background:#69bcfb;height:18px;line-height:18px;display:inline-block;margin: 0 2px;border-radius:10px;padding:0 8px;color:#fff;}
.line_cus_pop .cus_ser_con a:hover{text-decoration:none;}
.line_cus_pop .click_line_cus{font-size:14px;}
.line_cus_pop .closed_cus{ float:right;display:inline-block;width:15px;height:15px;margin-top:-5px;cursor:pointer;}
.line_cus_pop p{padding-top:5px;}
input[type="number"]::-webkit-inner-spin-button {display: none;}
input[type="number"] { -moz-appearance:textfield; }